.discount_baner
  .row
    .xlarge-8.large-10.medium-12.columns.medium-centered
      .discount-block.dark_brown_block
        .inner-border
        .thin_line
        .thin_gorizontal_line
        .row
          .large-6.medium-6.columns
            .inner-text
              .svg_box = inline_svg "svg/icon-discount.svg"
              = raw t("components.plans.plan-1")

          .large-6.medium-6.columns
            .inner-text
              .img_block.padding-top
                img src="assets/main_page/nevada_logo.jpg"
              = raw t("components.plans.plan-2")
        .button 
          .button-inner-border
          .button-text apply for discount
