.default_baner
  .baner_info
    = inline_svg "svg/list-bullet.svg"
    .title 
      |welcome
  .pager_office
    - cabinet_tabs.each do |item|
      a.account href=item[:url] class=("active" if item[:active])
        = inline_svg "svg/#{item[:icon]}.svg"
        .title  
          = item[:name]
    /.account
      = inline_svg "svg/ic_assignment_black_24px.svg"
      a.title href=cabinet_check_account_path check account
    /.account
      = inline_svg "svg/email.svg"
      a.title href=cabinet_messages_path massages