= render "cabinet_header"

.office_wrap

  .fein_wrap
    .row
      .medium-8.columns.medium-centered
        .fein_box
          .title 
            |Enter your Federal Employer ID Number (FEIN) to cheack 
            br
              |account information
          .input-field
            input#fein-square name="fein" placeholder="FEDERAL EMPLOYER ID NUMBER (FEIN)"
          .button
            .inner-border
            .button-text cheack

  .policy_types_wrap
    .row
      .columns
        p.fein_text 
          |FEIN&nbsp;
          span &ast;1235543&ast; 
          |information
    .row
      .columns.medium-4
        .left_part.dark_brown_block
          .panel_info
            .head_title you have foloving policy types
            .list_box
              ul
                li.list 
                  .list_text 
                    p Workers compensation
                    span.svg = inline_svg "svg/download.svg"
                li.list 
                  .list_text 
                    p Business liability
                    span.svg = inline_svg "svg/download.svg"
                li.list 
                  .list_text 
                    p Automobile
                    span.svg = inline_svg "svg/download.svg"
                li.list 
                  .list_text 
                    p Healthcare
                    span.svg = inline_svg "svg/download.svg"

        .panel_add_policy
          .title Other policies
          .sub_title There is some other policies available for you
          .list_box
            ul
              li.list
                p Healthcare
                .right_part
                  span.svg = inline_svg "svg/add-v1(1).svg"
                  .text Add this policy
              li.list 
                p Security
                .right_part
                  span.svg = inline_svg "svg/add-v1(1).svg"
                  .text Add this policy
              li.list
                p Medical law
                .right_part
                  span.svg = inline_svg "svg/add-v1(1).svg"
                  .text Add this policy
              li.list
                p Vaccination
                .right_part
                  span.svg = inline_svg "svg/add-v1(1).svg"
                  .text Add this policy
          / .button
          /   .inner-border
          /   .button-text renew insurance

      .columns.medium-8
        .right_part
          .title_box
            .title business liabilty
            .download_block
              span.svg = inline_svg "svg/download.svg"
              .text Download in PDF

          .policy_info
            .sub_title Policy Number
            .info WWC3345
          .policy_info
            .sub_title Policy type
            .info liability
          .policy_info
            .sub_title Policy Dates
            .info 12/03/2017
          .policy_info
            .sub_title Policy Coverage
            .info ???

          .list_pages
            a.pages href="/" Report a claim
            a.pages href="/" Online Biling & payments
            a.pages href="/" Certificates
            a.pages href="/" Policy change request
            a.pages href="/" Auto ID cards

  .row
    .columns
      .down_bg_block
        .title Restaurant Association membership information
        .list_box
          ul
            li.list
              .text-list
                |Status:
                span
                  | Active
            li.list
              .text-list
                |Expiration Date:
                span
                  | 11/1/2018
            li.list
              .text-list
                |Dues status:
                span
                  | Paid


  

