= render "cabinet_header"

.massages_wrap
  .row.collapse
    .medium-4.columns
      .left_part
        .head_panel
          .head_panel_content
            .title 
              = inline_svg "svg/email.svg"
              |inbox
              span
                | (6 new)
            .button_compose
              .text_button 
                .svg_box
                = inline_svg "svg/add-v1(1).svg"
                |compose

        .panel_content
          .list_box
            ul
              li.list
                .img_box
                  = inline_svg "svg/rid-insur-icons-healscare-v1.svg"
                  img src="/assets/avatar.png"
                .text_box
                  .title About healscare
                  .sub_title hello tomas
                .date 18 min ago

              li.list
                .img_box
                  = inline_svg "svg/rid-insur-icons-healscare-v1.svg"
                  img src="/assets/avatar.png"
                .text_box
                  .title About healscare
                  .sub_title hello tomas
                .date 18 min ago

              li.list
                .img_box
                  = inline_svg "svg/rid-insur-icons-automobile-v1.svg"
                  img src="/assets/avatar.png"
                .text_box
                  .title About healscare
                  .sub_title hello tomas
                .date 18 min ago

              li.list
                .img_box
                  = inline_svg "svg/rid-insur-icons-healscare-v1.svg"
                  img src="/assets/avatar.png"
                .text_box
                  .title About healscare
                  .sub_title hello tomas
                .date 18 min ago

              li.list
                .img_box
                  = inline_svg "svg/rid-insur-icons-healscare-v1.svg"
                  img src="/assets/avatar.png"
                .text_box
                  .title About healscare
                  .sub_title hello tomas
                .date 18 min ago


    .medium-8.columns
      .right_part
        .chat_content

          .head_box
            .text_box
              .title About healscare
              .sub_title 
                |Correspondece with 
                span
                  |custumer service Nick henry
            .oute_number_box
              .svg = inline_svg "svg/rid-insur-icons-automobile-v1.svg"
              .title Ouote nunber
              .sub_title 1234-1234-5467-WC
            .hover_block
              = inline_svg "svg/rid-triangle-v1.svg"
              .text Automobile Insurance
          .chat_box
            .number_massages +8 masages
            .img_box 
              img src="/assets/avatar.png"
            .text_content
              .name 
                |About healscare 
                span
                  |(custumer service agent)
              .sub_title 
                |Correspondece with 
                span
                  |custumer service Nick henry

            .date 
              |Apr 
              span
                |3

          .chat_box
            .img_box 
              img src="/assets/avatar.png"
            .text_content
              .name 
                |About healscare 
                span
                  |(custumer service agent)
              .sub_title Correspondece with adsas das das das fkdgjfkgj shg sjdhf s usdj ghjksfg orrespondece with adsas das das das fkdgjfkgj shg sjdhf s usdj ghjksfg orrespondece with adsas das das das fkdgjfkgj shg sjdhf s usdj ghjksfg orrespondece with adsas das das das fkdgjfkgj shg sjdhf s usdj ghjksfg
              .Attached_files
                .svg_box 
                  = inline_svg "svg/rid-attach-file-some_doc.svg"
                .info_files
                  .title Document.pgf
                  .sbu_title 999kb
              .Attached_files
                .svg_box 
                  = inline_svg "svg/rid-attach-file-pict.svg"
                .info_files
                  .title imgage.jpg
                  .sbu_title 109kb

            .date 
              |Apr 
              span
                |7

          .chat_box
            .img_box 
              img src="/assets/avatar.png"
            .text_content
              .name 
                |Dart Weider
              .sub_title Luke I'm your father
            .date 
              |Apr 
              span
                |18

          .chat_box
            .img_box 
              img src="/assets/avatar.png"
            .input-field
              input#email-square name="email" placeholder="ENTER ADDRESS"
            .box_massages
              .svg_box
                = inline_svg "svg/rid-attach-file.svg" 
                |Attach file
              button.button 
                .inner-border
                .button-text replay




      .new_massages
        .massages_content
          .head_title New massage
          .user_info
            .titles_box
              .sub_title Category
              .sub_title Topic
              .sub_title Subjekt
              .sub_title Message


            .input_conteiner  
              .input-field.required.clearfix
                select.nice-select
                  option data-value="" Select Category
                  option value="Ukraine" asdasd e
                  option value="USA" Ughhgfh
                  option value="Canada" Ca134hj 
              .input-field.required.clearfix
                select.nice-select
                  option data-value="" Select topic
                  option value="Ukrainian" asdasd 
                  option value="English" asdas d
                  option value="Rassia" 123123
              .input-field
                input#password-square name="password" placeholder="Subject of the message"
              .input-field.message
                input#password-square name="password" placeholder="Compose message..."

          .box_massages
            .svg_box
              = inline_svg "svg/rid-attach-file.svg" 
              |Attach file
            button.button 
              .inner-border
              .button-text replay



