= render "cabinet_header"

.profile_wrap
  .row
    .medium-3.columns
      .avatar_box.dark_brown_block
        .inner-border
        .img_box 
          img src="/assets/avatar.png"
        a.sub_title href="/" Change avatar

      .payment_conteiner
        .content
          .title payment method
          .card
            = inline_svg "svg/rid-card-visa"
            .nunber_card 1214 1243 1143 2213
          .card
            = inline_svg "svg/rid-card-master"
            .nunber_card 1374 1144 1246 3455
            .edit_icon = inline_svg "svg/rid-edit-icon"
        a.add_card href="/" Add a card 

    .medium-8.columns
      .user_info
        .titles_box
          .title account information
          .sub_title Email
          .sub_title Password

        .input_conteiner  
          .input-field.required
            input#email-square name="email" placeholder="EMAIL"
          .input-field.required
            input#password-square name="password" placeholder="PASSWORD"
          a.sub_orange_title href="/" Change password

      .user_info  
        .titles_box
          .title personal information
          .sub_title Name
          .sub_title Phome
          .sub_title Country
          .sub_title Language

        .input_conteiner  
          .input-field.required
            input#name-square name="name" placeholder="NAME"
          .input-field.required
            input#phone-square name="phone" placeholder="PHONE"
          .input-field.required.clearfix
            select.nice-select
              option data-value="" Type is not selected
              option value="Ukraine" Ukraine
              option value="USA" USA
              option value="Canada" Canada
          .input-field.required.clearfix
            select.nice-select
              option data-value="" Type is not selected
              option value="Ukrainian" Ukrainian
              option value="English" English
              option value="Rassia" Rassia
      .user_info  
        .titles_box
          .title company information
          .sub_title Company Name
          .sub_title Full Time Employers
          .sub_title Part Time Employers
          .sub_title Company Website

        .input_conteiner.padding_bottom 
          .input-field.required
            input#company-square name="company" placeholder="COMPANY NAME"
          .input-field.required
            input#full-time-employers-square name="Full Time Employers" placeholder="FULL TIME EMPLOYERS"
          .input-field.required
            input#part-time-employers-square name="Part Time Employers" placeholder="PART TIME EMPLOYERS"
          .input-field.required
            input#website-square name="Company Website" placeholder="WEBSITE"

      .discounts_abdate_box
        .padding_box
          .title Restoraunt Inshrance Discount updates
          form
            .default-animated-checkbox
              input#my_check type="checkbox" name="subscribe"
              label for="my_check" I would like to recive the RID newslater 
            button.default_button edit email 

      a.sub_orange_title href="/" Deactivate Account
