.pege_about_wrap
  .default_baner
    .baner_gradient
    .bg_img_baner style="background-image: url(#{asset_path('about/banner-about.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.about.banner.title")
  .expeience_wrap
    .row
      .medium-6.columns
        .text_content
          .line
          .title
            = raw t("pages.about.intro.text1")
      .medium-6.columns
        = raw t("pages.about.intro.text2")
  .blockquote_wrap
    .blockquote_bgc style="background-image: url(#{asset_path('about/rid-about-bg.jpg')})"
    .content_conteiner
      .heder
        = raw t("pages.about.quote")
  .money_wrap
    .row
      .large-8.medium-12.columns
        .main-text
          = raw t("pages.about.time-is-money")
          .button
            .inner-border
            .button-text apply for discount
    .background-block
      .border_block
      img src="assets/about/about-img.jpg"
