.contacts_wraper
  .default_baner
    .baner_gradient
    .bg_img_baner style="background-image: url(#{asset_path('banner-contacts.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.contacts.banner.title")
.general-map-wrapper
  #googleMapWrapper.map-wrapper
    .marker
      .marker-icon.svg-icon.svg-icon-location
        img src="assets/contacts-location-v1.png"
    .info-window
      / .zrub = inline_svg "GH-corner-v1-01.svg"
      .logo = inline_svg "svg/logo.svg"
      .address
        = raw t("pages.contacts.contact-data.address")
      - t("pages.contacts.contact-data.phones").each do |phone|
        a.number_box href=phone_url(phone) data-href=phone_url(phone)
          = phone
      - t("pages.contacts.contact-data.emails").each do |email|

        a.number_box href=email_url(email)
          = email
    #map-container.map-container
  .contacts_form
    .row
      .large-8.large-centered.columns
        .row.collapse
          .large-6.columns
            .left_part
              .text_conteiner
                .title Restaurant Insurance Discounts
                .line
                .adders 1500 Tropicana Avenue #114 A Las Vegas, NV 89119
                - t("pages.contacts.contact-data.phones").each do |phone|
                  .contats_info
                    |T.
                    a.number href=phone_url(phone)
                      = phone
                - t("pages.contacts.contact-data.emails").each do |email|
                  .contats_info
                    |E.
                    a.maill href=email_url(email)
                      = email
                .contats_info
          .large-6.columns
            .right_part
              .form_conteiner
                .title Send a message
              .forms-square
                form
                  .input-square
                    input#first_name-square name="firstname" placeholder="NAME"
                    input#phone-square name="tel" placeholder="PHONE NUMBER"
                form
                  .input-square-email
                    input#emaill_name-square name="email" placeholder="EMAIL"
                form
                  .input-square-testemonials
                    input#emaill_name-square name="testemonials" placeholder="YOUR COMMENT"
                  .input-square.submit-square
                    .button
                      .inner-border
                      .button-text send