.membership_wraper
  .default_baner
    .baner_gradient
    .bg_img_baner style="background-image: url(#{asset_path('discounts/banner-discount.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = raw t("pages.discounts.banner.title")
  .exclusive_discounts_wrap
    .row
      .large-8.medium-6.columns
        .text_container
          .line
          = raw t("pages.discounts.intro")
          .button
            .inner-border
            .button-text sign up
      .xlarge-3.large-4.medium-6.columns
        .dark_brown_block
          .border_block
            = raw t("pages.discounts.intro-gray-block")
  .discounts_wrap_two
    .img_conteiner
      img src="assets/discounts/discount.jpg"
      .border_block
    .text_container
      .text_content
        .line
        = raw t("pages.discounts.second-block")
  .discounts_complite_form
    .text_container
      = raw t("pages.discounts.plans-block.description")
    = render "partials/discount"