.main_baner
  .bg_img_baner style="background-image: url(#{asset_path('main_page/banner-photo-v1.jpg')})"
  .baner_info
    = raw t("pages.home.banner.text")
    .button data-open="popup_apply"
      .inner-border
      .button-text apply for discount
    a.link_calculator href=savings_calculator_path savings calculator
  .info_bottom_block
    a href="/" more
    .line

.offer_block
  .row
    .large-7.medium-6.columns
      .left_part
        .line
        = raw t("pages.home.intro")
        .button
          .inner-border
          .button-text apply for discount
    .large-5.medium-6.columns
      .right_part 
        .border_block
        img src="assets/main_page/offer_img.jpg"
.discounts_block
  .row
    .large-12.columns
      .img_block
        img src="assets/main_page/discount_banner.jpg"
        .border_block
      .text_content
        = raw t("pages.home.discounts.text")
        button.button 
          .inner-border
          .button-text apply for discount
.premium_discounts_container
  .discounts_bg style="background-image: url(#{asset_path('main_page/rid-main-bg.jpg')})"
  = raw t("pages.home.plans.intro")
  = render "partials/discount"
.policy_service
  .row
    .large-6.medium-6.columns
      .left_part
        .line
        = raw t("pages.home.policy_service_center.text")
    .large-6.medium-6.columns
      .row.right_part
        .large-6.medium-12.columns
          .dark_brown_block
            .border_block
              .title 
                |Policy Service
                br
                |Center
              .hover_block
                .sub_title 
                  |view more
                  span 
                    = inline_svg "svg/arrow.svg"
          .dark_brown_block
            .border_block
              .title File A Claim
              .hover_block
                .sub_title 
                  |view more
                  span 
                    = inline_svg "svg/arrow.svg"
        .large-6.medium-12.columns
          .dark_brown_block
            .border_block
              .title Online Billing & Payments
              .hover_block  
                .sub_title 
                  |view more
                  span 
                    = inline_svg "svg/arrow.svg"
          .dark_brown_block
            .border_block
              .title Policy Change Request
              .hover_block  
                .sub_title 
                  |view more
                  span 
                    = inline_svg "svg/arrow.svg"
.member_restoran
  .member_restoran_bg style="background-image: url(#{asset_path('main_page/rid-membership-bg.jpg')})"
  .row
    .small-12.columns
      .img_block 
        img src="assets/main_page/nevada_logo.jpg"
  .row
    .large-8.medium-7.columns
      .member_text
        = raw t("pages.home.last-block.text")
        .button 
          .inner-border
          .button-text apply for discount

    .xlarge-3.large-4.medium-5.columns
      .dark_brown_block
        .border_block
          .sub_title free
          .title 6
          p 
            |Months 
            br
            |membership

= render "popup_wrapper"
