.pege_membership_wrap
  .baner_gradient
  .default_baner
    .bg_img_baner style="background-image: url(#{asset_path('main_page/discount_banner.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.membership.banner.title")
      .button
        .inner-border
        .button-text sign up
.nevada_membership_wrap
  .row
    .large-8.medium-6.columns
      .text_container
        .line
        = raw t("pages.membership.intro.text")
        .img_box
          img src="assets/main_page/nevada_logo.jpg"
          span
            = t("pages.membership.intro.partner-name")
    .xlarge-3.large-4.medium-6.columns
      .dark_brown_block
        .border_block
          = raw t("pages.membership.intro.gray-block")
.member_beefits_wraper
  .row
    .medium-4.large-3.columns
      = raw t("pages.membership.member-benefits.title")
      .button
        .inner-border
        .button-text sign up
    .medium-4.large-5.columns
      = raw t("pages.membership.member-benefits.text-1")
    .medium-4.columns
       = raw t("pages.membership.member-benefits.text-2")
.premium_discounts_wraper
  .premium_discounts_bg style="background-image: url(#{asset_path('rid-membership-bg.jpg')})"
  .content_conteiner
    .heder
      = raw t("pages.membership.quote")
    = raw t("pages.membership.contact-us")
= render "partials/discount"