.online_billing_wraper
  .default_baner
    .baner_gradient
    .bg_img_baner style="background-image: url(#{asset_path('banner-billing.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.online_billing_and_payments.banner.title")
  .payments_wrap
    .text_content
      .line
      = raw t("pages.online_billing_and_payments.intro")
  .compaines_list_wrap
    = raw t("pages.online_billing_and_payments.companies-list.title")
    .row
      - @companies.each do |company|
        = render "company", company: company


  .see_also_wrap
    .heder
      .title See also
      .svg_box = inline_svg "svg/arrow.svg"
    .row
      .medium-4.columns.collapse
        a.dark_brown_block href=policy_service_center_path
          .border_block
            .title 
              |Policy Service
              br
              | Center
            .hover_block
              .sub_title 
                |view more
                span 
                  = inline_svg "svg/arrow.svg"
      .medium-4.columns.collapse
        a.dark_brown_block href=file_a_claim_path
          .border_block
            .title File a claim
            .hover_block
              .sub_title 
                |view more
                span 
                  = inline_svg "svg/arrow.svg"
      .medium-4.columns.collapse
        a.dark_brown_block href=online_billing_path
          .border_block
            .title 
              |online billing
              br
              |& payments
            .hover_block
              .sub_title 
                |view more
                span 
                  = inline_svg "svg/arrow.svg"