.policy_service_wrap
  .default_baner
    .baner_gradient
    .bg_img_baner style="background-image: url(#{asset_path('banner-policy.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.policy_service_center.banner.title")
  .policy_service_center_wrap
    .text_content
      .line
      = raw t("pages.policy_service_center.intro")
  .services_wrap
    .text_conteiner
      .title
        = t("pages.policy_service_center.services.title")
    .row
      .medium-9.columns.medium-push-2
        .list_box
          ul
            = raw t("pages.policy_service_center.services.list")
  .see_also_wrap
    .heder
      .title See also
      .svg_box = inline_svg "svg/arrow.svg"
    .row
      .medium-4.columns.collapse
        a.dark_brown_block href=policy_service_center_path
          .border_block
            .title 
              |Policy Service
              br
              | Center
            .hover_block
              .sub_title 
                |view more
                span 
                  = inline_svg "svg/arrow.svg"
      .medium-4.columns.collapse
        a.dark_brown_block href=file_a_claim_path
          .border_block
            .title File a claim
            .hover_block
              .sub_title 
                |view more
                span 
                  = inline_svg "svg/arrow.svg"
      .medium-4.columns.collapse
        a.dark_brown_block href=online_billing_path
          .border_block
            .title 
              |online billing
              br
              |& payments
            .hover_block
              .sub_title 
                |view more
                span 
                  = inline_svg "svg/arrow.svg"
