.default_baner
  .baner_gradient
  .bg_img_baner style="background-image: url(#{asset_path('banner-policy-change.jpg')})"
  .baner_info
    = inline_svg "svg/list-bullet.svg"
    .title 
      |policy change request
.head_wrap_form
  .row
    .columns
      .head_block
        .line
        .title Policy Change Request Form
        .sub_title The follwing form is provided to you for making changes or requests on your existing policies.
        .text_importaint By submitting this form you understand that no coverage or premium adjustment of any kind is bound until you receive written notice form us 
= render "policy_change_request_form"
.see_also_wrap
  .heder
    .title See also
    .svg_box = inline_svg "svg/arrow.svg"
  .row
    .medium-4.columns.collapse
      a.dark_brown_block href=policy_service_center_path
        .border_block
          .title 
            |Policy Service
            br
            | Center
          .hover_block
            .sub_title 
              |view more
              span 
                = inline_svg "svg/arrow.svg"
    .medium-4.columns.collapse
      a.dark_brown_block href=file_a_claim_path
        .border_block
          .title File a claim
          .hover_block
            .sub_title 
              |view more
              span 
                = inline_svg "svg/arrow.svg"
    .medium-4.columns.collapse
      a.dark_brown_block href=online_billing_path
        .border_block
          .title 
            |online billing
            br
            |& payments
          .hover_block
            .sub_title 
              |view more
              span 
                = inline_svg "svg/arrow.svg"
