.privacy_policy_wraper
  .default_baner
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.privacy_policy.banner.title")
  .privacy_statement_wrap
    .row
      .medium-8.medium-push-2
        = raw t("pages.privacy_policy.text")
