
.default_baner
  .baner_info
    = inline_svg "svg/list-bullet.svg"
    .title 
      |online savings calculator
.calculate_savings
  .row
    .columns.medium-6.large-8

      .panel

        .calculator_content
          .head_title Calculate membership savings
          .title Workers Compensation Insurance DISCOUNT
          .input-field
            .sub_title Annual Payroll
            input#email-square name="email" placeholder="ANNUAL PAYROLL"
            .input-icon.outside = inline_svg "svg/question-mark.svg"
            .input-tip.calculator
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text_box Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

          .dashed

        .calculator_content
          .title LIABILITY INSURANCE DISCOUNT 
          .input-field
            .sub_title Current Annual Premium
            input#email-square name="email" placeholder="ANNUAL PAYROLL"
            .input-icon.outside = inline_svg "svg/question-mark.svg"
            .input-tip.calculator
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text_box Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

          .dashed

        .calculator_content
          .title NEVADA RESTAURANT ASSOCIATION MEMBERSHIP DISCOUNT
          .input-field
            .sub_title Number of Employees    
            input#email-square name="email" placeholder="ANNUAL PAYROLL"
            .input-icon.outside = inline_svg "svg/question-mark.svg"
            .input-tip.calculator
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text_box Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

    .columns.medium-6.large-4
      .panel.dark
        .inner-border
        .panel_calculate.no_pading_top
          = raw t("pages.online_savings_calculator.calculator-results.title")
          .sub_title Annual Payroll
          .figures 0
        .panel_calculate
          .sub_title Liability Insurance savings
          .figures 0
        .panel_calculate
          .sub_title Membership Discount savings
          .figures 0

.row
  .medium-12.large-8.columns
    .nevada_partners
      .pading_partners
        .head_title NEVADA RESTAURANT ASSOCIATION PARTNERS SAVINGS
        .partners_name_block
          .text_box.no_padding
            .sub_title.head Association partners
          .price.head Savings

        - @savings_partners.each do |partner|
          .partners_name_block
            - if partner.image.exists?
              .img_box
                img src=partner.image.url
            .text_box
              - if partner.main_url.present?
                a.title href=partner.main_url rel="nofollow"
                  = partner.name
              - else
                .title
                  = partner.name
              .sub_title
                = partner.short_description
              - if partner.links.present?
                .links_box
                  - partner.links.each do |link_name, link_url|
                    a.link href=link_url
                      = link_name

            .price
              |$ #{partner.saving}
              - if partner.tooltip_title.present? || partner.tooltip_description.present?
                = inline_svg "svg/question-mark.svg"
                .input-tip
                  .svg_tringle
                    = inline_svg "svg/black-triangle.svg"
                  .text-tip
                    = raw([partner.tooltip_title, partner.tooltip_description].select(&:present?).join("<br/>"))

        /.partners_name_block
          .img_box
            img src="assets/logos/rig-logo-2.jpg"
          .text_box
            .title Nevada Drug Card
            .sub_title Discount prescriptions
          .price 
            |$ 175
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.


        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-3.jpg"
          .text_box
            .title Legal Shield
            .sub_title Pre-paid legal advice 24/7
          .price
            | $ 444
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.


        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-4.jpg"
          .text_box
            .title United Healthcare
            .sub_title Healthcare for groups
          .price 
            |$ 120
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

            .text per employee 

        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-5.jpg"
          .text_box
            .title Servsafe Food Safety & Alcohol (TAM) Training
            .sub_title ServSafe Food Safety
          .price 
            |$ 35
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

            .text per employee 

        /.partners_name_block
          .block
          .text_box.bigest_padding
            .title Servsafe Food Safety & Alcohol (TAM) Training
            .sub_title ServSafe Alcohol Training
          .price 
            |$ 5
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

            .text per employee 
        
        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-6.jpg"
          .text_box
            .title Fishbowl Marketing
            .sub_title E-mail Marketing
          .price 
            |$ 480
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.


        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-7.jpg"
          .text_box
            .title Fishbowl Marketing
            .sub_title E-mail Marketing
          .price 
            |$ 480
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.



        /.partners_name_block
          .block
          .text_box.bigest_padding
            .title Fishbowl Marketing
            .sub_title E-mail Marketing
          .price 
            |$ 480
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.


        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-8.jpg"
          .text_box
            .title Broadcast Music, INC
            .sub_title Broadcast Music Inc - BMI
          .price 
            |$ 327
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.


        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-9.jpg"
          .text_box
            .title Society of European Stage Actors and Composers (SESAC)
            .sub_title Music Rights Organization
          .price 
            |$ 336
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.


        /.partners_name_block
          .img_box
            img src="assets/logos/rid-logo-10.jpg"
          .text_box
            .title American Society of Composers, Authors and Publishers (ASCAP)   
            .sub_title Music Rights Organization
          .price 
            |$ 281
            = inline_svg "svg/question-mark.svg"
            .input-tip
              .svg_tringle
                = inline_svg "svg/black-triangle.svg"
              .text-tip Each policy is individually underwritten by the inshurance carrier and the final calculation will be provided by a licensed agent.

          / .input-tip
          /   .svg_tringle
          /     = inline_svg "svg/black-triangle.svg"
          /   .title_tip why do i need a password?
          /   .text_box 
          /     |Folowing password is necessery to login in our website and to use 
          /     span
          /       | check account 
          /     | opinion

        /.partners_name_block
          .text_box.no_padding_right
            .title. Office Depot  / Office Max 
          .price.padding 
            |$ 480

        /.partners_name_block
          .text_box.no_padding_right
            .title. Free Event Tickets for NvRA and NRA
          .price.padding 
            |$ 550

        /.partners_name_block
          .text_box.no_padding_right
            .title Free Consultation for 20 Minutes
            .links_box 
              a.link href="" Insurance
              a.link href="" Legal
              a.link href="" Licensing and Permitting 
          .price.padding
            |$ 200

  .medium-12.large-4.columns
    .email_total_info
      .email_pading
        = raw t("pages.online_savings_calculator.receive_by_email_block.text")
        .input-field
          input#email-square name="email" placeholder="ENTER EMAIL ADRESS"
          .arrow
            = inline_svg "svg/send-email.svg"
    .bx_slider_box
      .title Testimonials
      .sub_title from satisfied customers
      .slider
        ul.bxslider
          - t("pages.online_savings_calculator.testimonials").each do |testimonial|
            li
              .textemonials
                .heder
                  = raw testimonial[:description]
                .text
                  = raw testimonial[:author]


