.states_eligible_wraper
  .baner_gradient
  .default_baner
    .bg_img_baner style="background-image: url(#{asset_path('banner-states-eligible-v1.jpg')})"
    .baner_info
      = inline_svg "svg/list-bullet.svg"
      .title 
        = t("pages.states_eligible.banner.title")
  .states_text_box
    .row
      .medium-7.columns
        .text_content
          .line
          = raw t("pages.states_eligible.intro.text")
          .button
            .inner-border
            .button-text apply for discount
      .large-4.medium-5.columns
        .list_of_states_box
          .inner-border-block
          .sub_title List of states
          .text_box AL.   AR.   AZ.   CA.   CO.   DE.   FL.   IL.   IN.   KY.   LA.   MD.   MN.   MS.   NC.   NE.   NJ.   NM.   NV.   OK.   OR.   TN.   TX.   UT.   WA.   WI.
  .states_map_wrap
    .svg_box = inline_svg "svg/usa-map.svg"