.footer
  color: white
  position: relative
  .bgc_brown
    text-align: center
    background-color: $dark-brown
    .footer_nav
      height: 80px
      padding: 30px
      li
        display: inline-block
        line-height: 35px
        .footer_link
          padding: 30px 20px
          color: $lite-brown
          font-size: 18px
          text-transform: uppercase
          font-weight: 600
          +breakpoint(small only)
            display: none
          &:hover
            color: $orange-color
            transition: 0.5s
    .adress 
      font-size: 14px
      padding: 20px 0
      color: $dark-silver
    .dot_small
      display: none
    .contacts
      font-size: 14px
      display: inline-flex
      padding-bottom: 70px
      .number
        padding: 10px 0
        color: white
      .dot
        padding: 10px 20px
        font-weight: bold
      .email
        color: $dark-silver
        padding-top: 10px
    +breakpoint(large down)
      .adress 
        padding: 60px 0 20px
    +breakpoint(small only)
      .footer_nav
        display: none
      .adress 
        width: 230px
        margin: auto
        padding: 40px 0 10px  
        line-height: 1.8
      .dot_small
        display: block
        font-weight: bold
      .contacts
        display: block
  .bgc_lite_brown
    background-color: $lite-brown
    height: 50px
    .left_part
      float: left
      line-height: 50px
      padding-left: 30px
      font-size: 13px
      +breakpoint(large down)
        padding-left: 10px
      +breakpoint(small only)
        padding: 0 9px
    .right_part
      float: right
      .nav
        li
          display: inline-block
          .link
            font-size: 13px
            border-right: 1px solid rgba(255,255,255,0.3)
            margin: 10px
            color: white
            line-height: 50px
            padding-right: 15px
            &.border_none
              border-right: none
            &:hover
              color: black
              transition: 0.5s
      +breakpoint(large only)
        float: none
      +breakpoint(medium down)
        float: left
        width: 100%
        margin-top: -1px
        .nav
          background-color: $lite-brown
      +breakpoint(small only)
        float: none
        .nav
          background-color: $lite-brown