.header
  position: absolute
  width: 100%
  z-index: 15
  .logo
    background-color: white
    width: 150px
    height: 106px
    position: absolute
    left: 50px
    top: 0
    display: flex
    cursor: pointer
    z-index: 100
    .inner-border-block
      position: absolute
      top: -3px
      bottom: 3px
      left: 3px
      right: 3px
      border: 1px solid $lite-brown
    .svg
      width: 95px
      margin: auto
      padding-bottom: 5px
    +breakpoint(small only)
      width: 100px
      height: 75px
      left: 20px
      .svg
        width: 70px
  .topnav
    position: relative
    width: 100%
    //padding: 20px
    text-align: right
    li.list
      display: inline-block
      vertical-align: middle
      padding: 0 13px
      position: relative
      &:last-child
        padding-right: 10px
      &.office
        // display: none
      .button
        width: 130px      
      .top-nav-link
        font-size: 0.875em
        color: white
        cursor: pointer
        text-transform: uppercase
        line-height: 80px


      span
        svg
          width: 10px
          position: relative
          bottom: 1px
          left: 2px
      &:hover
        .top-nav-link
          transition: 0.5s
          color: $orange-color
          &.hover
            color: black
            transition: 0.5s
        &.drop_down_bgc
          color: black
          transition: 0.5s
          background-color: $lite-brown
          // .top-nav-link 
        span
          svg
            transform: rotate(180deg)
            transition: 0.7s
            cursor: pointer
            bottom: 3px
            left: 2px
    +breakpoint(large down)
      display: none
    .drop_down_conteiner
      list-style: none
      padding: 0
      margin: 0
      position: absolute
      top: 65px
      left: 0
      border-bottom: 2px solid $lite-brown
      li.drop_down_list
        display: initial
        list-style: none
        a
          display: block
          padding: 10px 0
          color: black
          font-size: 13px
          border-bottom: 1px solid $lite-brown
          width: 150px
        &.room
          a
            width: 89px
          &:hover
            color: $orange-color
            transition: 0.5s
      .drop_down
        text-align: center
        display: block
        background-color: white
  .menu-button 
    float: right 
    cursor: pointer 
    position: relative 
    z-index: 1 
    width: 50px 
    height: 40px 
    padding: 12px 
    margin: 15px 10px 0 -10px
    display: none
    +breakpoint(large down)
      display: block   
    +breakpoint(small only)
      display: block
      margin: 15px 20px 0 -10px  
    .menu-button-lines 
      +burger(30px, 3px, 3px, white, 1px) 
      position: absolute 
    &:hover 
      .menu-button-lines 
        &, &::before, &::after 
      // background-color: #fff 
        &:before 
    &.opened 
      .menu-button-lines 
        +burger-to-cross 
        &::before, &::after 
          background-color: $orange-color  
      &:hover 
        .menu-button-lines 
          &::before, &::after
ul.topnav ul
  display: none
  position: absolute
  top: 60px
ul.topnav li
  &:hover > ul
    display: initial