#popup_apply
  padding: 0
  border: none
  background-color: transparent
  outline: none !important
.reveal-overlay
  background-color: rgba($dark-brown, 0.95)

.popup-wrap
  position: relative
  .close_popap_box
    position: absolute
    right: 20px
    top: 20px
    cursor: pointer
    svg
      width: 30px
  .content_box
    text-align: center
    .heder
      font-size: 48px
      font-weight: bold
      color: white
      text-transform: uppercase
      padding: 50px 0 10px
    .sub_title
      width: 500px
      margin: auto
      font-size: 18px
      color: $lite-brown
      max-width: 90%
      line-height: 1.3
      border-top: 30px
  .accounts_member_box
    position: relative
    text-align: right
    .text_box
      font-size: 12px
      color: $orange-color 
      display: block 
      margin: 10px 0
      // margin-right: 20px
      transition: 0.5s
      &.padding_bottom
        padding-bottom: 5px

      // &:before
      //   content: "\003E"
      //   position: absolute
      //   right: 8px
      //   top: -1px
      // &:after
      //   content: "\003E"
      //   position: absolute
      //   right: 8px
      //   top: 23px

      &:hover
        color: $lite-brown
        &:before, &:after
          color: $lite-brown










  .popup
    width: 100%
    padding: 20px 30px 0 40px
    background: $lite-orange
    position: relative
    

    .popup-step
      padding: 20px 0 20px 30px
      position: relative
      border-left: 1px solid $orange-color
      &:last-child
        border-left: none
    .button
      margin-bottom: 120px
      margin-top: 70px
      outline: none !important
      width: 130px
      .inner-border
        border: 1px solid white
    .head_title
      font-size: 24px
      font-weight: bold
      text-transform: uppercase
      padding-bottom: 30px
      padding-left: 20px
    .circle_box
      background-color: $lite-orange
      position: absolute
      left: 0
      // top: 15px
      height: 60px
      padding: 10px 0
      z-index: 20
      top: 0
      transform: translate(-50%,0)
      svg
        width: 40px
      .figures
        position: relative
        top: -35px
        left: 16px
        color: black
        font-size: 18px
        font-weight: bold
    .required_info
      font-size: 14px
      position: absolute
      right: 20px
      top: 30px
      &:before
        content: "\2217"
        position: relative
        right: 4px
        top: -5px
        color: $orange-color
      +breakpoint(small only)
        position: relative
        right: -20px
        top: 0

    .title
      font-size: 24px
      font-weight: bold
      text-transform: uppercase
      &.top
        padding-top: 30px
      // padding-bottom: 30px
    .sub_title
      display: block
      font-size: 14px
      font-weight: bold
      padding-bottom: 10px
      padding-top: 30px
      text-transform: capitalize
      &.no_padding_top
        padding-top: 20px
      &.no_capitalize
        text-transform: initial
    .sub_text
      padding: 20px 0 5px


    .input-group
      padding: 0 0 0 20px
      
      position: relative
      &.border_none
        border-left: none
      .circle_box
        background-color: $lite-orange
        text-align: center
        position: absolute
        left: -20px
        top: 19px
        svg
          width: 40px
        .figures
          position: relative
          top: -35px
          left: 0
          color: black
          font-size: 18px
          font-weight: bold
             
    .dashed
      width: 100%
      height: 1px
      margin-top: 40px
      border-bottom: 1px dashed $orange-color
      margin-bottom: 40px
    .drop_bown
      color: $orange-color
      font-size: 16px
      text-transform: uppercase
      transition: 0.5s
      cursor: pointer
      position: relative
      top: 65px
      svg
        width: 13px
      &:hover
        color: $lite-brown
        svg
          *
            fill: $lite-brown
      &.remove_address
        svg
          position: relative
          bottom: 5px
      +breakpoint(small only)
        display: none
    .drop_down_svg
      position: absolute
      top: 40px
      right: 10px
      transition: 0.5s
      svg
        width: 15px
        *
          fill: $lite-brown
      &:hover
        svg
          transform: rotate(180deg)
          transition: 0.7s
          cursor: pointer
    


    .block_restorant_adress
      .block_additional_restorant_adress
        display: none
      .remove_address
        display: none
      &.active
        .block_additional_restorant_adress
          display: block
        .add_new_address
          display: none
        .remove_address
          display: block

    .radio_container
      display: block
      position: relative
      //margin: 40px auto
      //height: auto
      //idth: 500px
      //padding: 20px
      ul
        list-style: none
        margin: 0
        padding: 0
        overflow: auto
        display: inline-flex


        li
          color: $dark-brown
          display: block
          position: relative
          float: left
          width: 100%

        li input[type=radio]
          position: absolute
          visibility: hidden

        li label
          display: block
          position: relative
          font-weight: 700
          font-size: 1em
          padding: 0 25px 15px 25px
          margin: 10px auto
          height: 30px
          z-index: 9
          cursor: pointer
          -webkit-transition: all 0.25s linear


        li:hover label
          color: $orange-color


        li .check
          display: block
          position: absolute
          border: 2px solid $lite-brown
          border-radius: 100%
          height: 18px
          width: 18px
          top: 10px
          left: 0
          z-index: 5
          transition: border .25s linear
          -webkit-transition: border .25s linear


        li:hover .check 
          border: 2px solid $orange-color


        li .check::before 
          display: block
          position: absolute
          content: ''
          border-radius: 100%
          height: 10px
          width: 10px
          top: 2px
          left: 2px
          margin: auto
          transition: background 0.25s linear
          -webkit-transition: background 0.25s linear


        input[type=radio]:checked ~ .check 
          border: 2px solid $orange-color


        input[type=radio]:checked ~ .check::before
          background: $orange-color

        input[type=radio]:checked ~ label
          color: $orange-color
      &.hidden
        // display: none