@import "mixins"

*
  box-sizing: border-box
  font-family: 'Raleway', sans-serif
  margin: 0
  padding: 0

html
  height: 100%
body
  min-height: 100%
  display: flex
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flex
  display: -o-flex
  flex-direction: column
  .main-content-wrapper
    flex: 1

a 
  text-decoration: none
.button, button
  width: 230px
  height: 40px
  background-color: $orange-color
  border-radius: 50px
  display: inline-block
  cursor: pointer
  position: relative
  outline: none !important
  border: none
  .inner-border
    position: absolute
    top: 1px
    bottom: 1px
    left: 1px
    right: 1px
    border: 2px solid $dark-brown
    border-radius: 50px
    pointer-events: none
  .button-text
    text-align: center
    color: white
    line-height: 40px
    text-transform: uppercase
    color: black
    font-size: 13px
    letter-spacing: 2px
    font-weight: 500
  &:hover
    background-color: $dark-brown
    transition: 1s
    .inner-border
      top: 0
      bottom: 0
      left: 0
      right: 0
      transition: 0.5s
    .button-text
      color: $orange-color
.line
  width: 70px
  height: 5px
  background-color: $lite-brown
  position: absolute
  top: -30px
  left: 0px
.border_block
  border: 1px solid $lite-brown
  position: absolute
  top: -10px
  right: -10px
  width: 100%
  height: 100%
  z-index: 1

.dark_brown_block
  background-color: #32312f

.inner-border
  position: absolute
  top: 10px
  bottom: 10px
  left: 10px
  right: 10px
  border: 1px solid $lite-brown
  pointer-events: none
  z-index: 10
.button-inner-border
  position: absolute
  top: 1px
  bottom: 1px
  left: 1px
  right: 1px
  border: 1px solid $lite-brown
  pointer-events: none
  z-index: 10
  border-radius: 50px
.button-product
  +my_horizontal_align
    // position: absolute
  
  height: 30px
  padding: 0 15px
  border-radius: 20px
  // border: solid 1px black
  cursor: pointer
  transition: 0.25s
  // margin: 0 auto
  display: inline-block
  .button-text
    text-align: center
    color: white
    line-height: 30px
    display: inline-block
    float: left
    &.dynamic-text      
      width: 0px
      overflow: hidden
      transition: 0.25s
  &:hover 
   
    .button-text
      &.dynamic-text
        width: 78px
        padding-left: 10px

.clearfix
  +clearfix
