body
  .baner_burger_menu
    background-color: $dark-brown
    position: fixed
    top: 0
    right: 0
    width: auto
    transform: translate(100%, 0%)
    transition: 1s
    z-index: 1001
    height: 100vh
    +breakpoint(large down)
      width: 100%
      padding-top: 15%
    +breakpoint(small only)
      width: 100%
      padding-top: 30%
    .close-m-menu
      position: absolute
      top: 5px
      right: 2px
      width: 36px
      height: 36px
      cursor: pointer
      svg 
        fill: $orange-color
        padding: 7px
    ul
      text-align: center
    .baner_link
      padding: 15px 40px
      list-style: none
      text-transform: uppercase
      a 
        color: white
        text-decoration: none
      span
        svg
          width: 1%
          position: relative
          bottom: 1px
          left: 2px
          +breakpoint(large down)
            width: 1.5%
            bottom: 5px
          +breakpoint(small only)
            width: 3%
            bottom: 4px
      +breakpoint(large down)
        font-size: 30px
      +breakpoint(small only)
        font-size: 16px
      .button
        margin-top: 40px
      &:hover
        span
          svg
            transform: rotate(180deg)
            transition: 0.7s
            cursor: pointer
            bottom: 4px
            left: 2px
            *
              fill: $orange-color
        a
          transition: 0.5s
          color: $orange-color
    .drop_down_conteiner
      list-style: none
      padding: 0
      margin: 0
      position: relative
      top: 10px
      left: 0
      li.drop_down_list
        display: initial
        list-style: none
        a
          display: block
          text-transform: capitalize
          padding: 10px 0
          color: $lite-brown
          font-size: 13px
          &:hover
            color: $orange-color
            transition: 0.5s
          +breakpoint(large down)
            font-size: 21px
          +breakpoint(small only)
            font-size: 13px
      .drop_down
        display: block
      &:hover
        transition: 0.5s
  &.opened
    overflow: hidden
    .bg_cover
      position: absolute
      left: 0
      top: 0
      right: 0
      bottom: 0
      background-color: rgba(0,0,0,0.7)
      z-index: 1000
    .baner_burger_menu
      transform: translate(0,0)
ul.menu ul
  display: none
  position: absolute
  top: 60px
ul.menu li
  &:hover > ul
    display: initial
.main_baner, .default_baner
  position: relative
  height: 100vh
  width: 100%
  overflow: hidden
  .bg_img_baner
    position: absolute
    width: 100%
    height: 100%
    left: 0
    bottom: 0
    background-size: cover
    background-position: center
  .baner_info
    position: relative
    top: 50%
    transform: translate(0,-50%)
    text-align: center
    .title
      color: white
      font-size: 80px
      font-weight: bold
      line-height: 0.9
      padding-bottom: 20px
      text-transform: uppercase
      text-shadow: 2px 2px 1px rgba(0,0,0,0.35)
      +breakpoint(small only)
        font-size: 50px
    .sub_title
      color: white
      font-size: 24px
      width: 550px 
      margin: 0 auto
      max-width: 90%
      font-weight: 300
      margin-bottom: 25px
      +Neuton
    .link_calculator
      color: white
      display: block
      padding-top: 15px
      font-size: 0.75em
      text-transform: uppercase
      transition: 0.5s
      &:hover
        color: $orange-color
  .info_bottom_block
    position: absolute
    bottom: 0
    left: 50%
    transform: translate(-50%,0)
    a
      color: white
      text-transform: uppercase
      padding-bottom: 5px
      font-size: 0.75em
    .line
      width: 1px
      height: 40px
      margin: 0 auto
      background-color: white
      opacity: 0.8
      position: relative
      top: 0
.offer_block
  padding: 150px 0 300px
  .left_part
    width: 90%
    max-width: 100%
    position: relative
    .line
    .sub_title
      font-size: 20px
      font-weight: bold
      padding-bottom: 10px
    .text_block
      font-size: 16px
      padding: 10px 0
      line-height: 1.5
    .button
      margin-top: 35px
      .inner-border
        border: 1px solid white
      +breakpoint(small only)
        margin-bottom: 50px
  .right_part
    position: relative
    img
      width: 100%
      height: 450px
      z-index: 5
      position: relative
  +breakpoint(small only)
    padding: 90px 0 250px
    .right_part
      top: 40px
      .border_block
        display: none
.discounts_block
  position: relative
  background-color: $lite-brown
  text-align: center
  .img_block
    position: relative
    margin-top: -150px
    z-index: 10
    img
      max-width: 100%
      position: relative
      z-index: 10
    .border_block
      border: 1px solid $dark-brown
      width: 100%
      height: 100%
      top: -10px
      right: -10px
  .text_content
    width: 700px
    max-width: 90%
    margin: 0 auto
    padding-top: 50px
    .sub_title
      font-size: 22px
      font-weight: bold
    .text_block
      color: white
      padding: 15px 0 10px
      max-width: 100%
      font-size: 18px
      line-height: 1.5
    .button 
      margin-top: 35px
      background-color: white
      margin-bottom: 70px
      .inner-border
        border: 1px solid $lite-brown
      &:hover
        background-color: black
  +breakpoint(small only)
    .img_block
      .border_block
        display: none
.premium_discounts_container
  position: relative
  padding-bottom: 50px
  .discounts_bg
    position: absolute
    width: 100%
    height: 100%
    left: 0
    bottom: 0
    background-size: cover
    // background-position: center
  .heder
    position: relative
    padding: 70px 0
    font-size: 44px
    width: 66%
    margin: auto
    max-width: 90%
    font-weight: 400
    text-align: center
    line-height: 1.5
    +Neuton
    span
      color: $orange-color
      +Neuton
  +breakpoint(medium down)
    padding-bottom: 0
    .heder
      width: 100%
      font-size: 34px
.discount_baner   
  .discount-block
    position: relative
    width: 100%
    text-align: center
  .button
    z-index: 11
    margin: 100px 0 50px
    .button-inner-border
      border: 1px solid black
    &:hover
      background-color: white
      .button-inner-border
        border: 1px solid $orange-color
      .button-text
        color: $dark-brown
  .thin_line
    +breakpoint(xxlarge up)
    width: 1px
    height: 332px
    position: absolute
    z-index: 11
    top: 80px
    left: 50%
    background-color: $dark-silver
    opacity: 0.3
    +breakpoint(small only)
      display: none
      
  .thin_gorizontal_line
    display: none
    width: 250px
    height: 1px
    position: absolute
    z-index: 11
    top: 45%
    left: 50%
    background-color: $dark-silver
    opacity: 0.3
    transform: translate(-50%,0)
    +breakpoint(small only)
      display: block
  .inner-text
    text-align: center
    padding: 0 20px
    .svg_box
      padding: 73px 0 50px
      svg
        width: 4em
    .sub_title
      color: $dark-silver
      text-transform: uppercase
      +breakpoint(xxlarge up)
        font-size: 18px
    .title
      color: $lite-brown
      font-weight: 300
      font-size: 60px
      padding: 0
      text-align: center
      font-style: italic
      span
        color: $lite-brown
        text-transform: uppercase
        font-weight: bold
        font-style: normal
      &.font-size
        font-size: 137px
        font-style: normal
        font-weight: 500
        line-height: 0.9
        padding-bottom: 20px
        span
          font-size: 50px
        .percents
          font-style: italic
          font-weight: 300
      +breakpoint(small only)
        font-size: 50px
      +breakpoint(xxlarge up)
        font-size: 60px
        .font-size
          font-size: 140px
    .img_block
      padding: 80px 0 60px
      img
        width: 7em
      +breakpoint(small only)
        padding: 170px 0 60px
    p 
      color: $dark-silver


.policy_service
  background-color: $lite-brown
  padding: 110px 0

  
  .left_part
    // +breakpoint(xxlarge up)
    .line
      background-color: white
      position: relative
      top: -15px
    .title
      color: black
      font-size: 24px
      font-weight: bold
    .text_block
      font-size: 20px
      color: white
      padding: 20px 0
      line-height: 1.5
    .text
      font-size: 18px
      color: white
      font-style: italic
      line-height: 1.5
    +breakpoint(small only)
      .text
        padding-bottom: 40px
  .right_part
    .dark_brown_block
      position: static
      height: 150px 
      margin-bottom: 25px
      cursor: pointer
      transition: 0.5s
      .border_block
        position: relative
        width: 94%
        height: 88%
        top: 8px
        left: 8px
      .title
        color: $lite-brown
        font-weight: bold
        font-size: 20px
        padding: 20px
        text-transform: uppercase
      .hover_block
        display: inline-flex
        position: absolute
        left: 20px
        bottom: 10px
        opacity: 0
        .sub_title
          font-size: 12px
          font-style: italic
          color: $lite-brown
          span
            svg
              position: relative
              left: 5px
      +breakpoint(small only)
        width: 100%

      &:hover
        .border_block
          border: 1px solid white
        .title
          color: white
        .hover_block
          opacity: 1
          .sub_title
            span
              svg
                transform: translate(50%,0)
                transition: 0.7s
  +breakpoint(small only)
    padding: 40px 0
.member_restoran
  position: relative
  .member_restoran_bg
    position: absolute
    width: 100%
    height: 100%
    left: 0
    bottom: 0
    top: 0
    right: 0
    background-size: cover
  .img_block
    position: relative
    padding-top: 100px
    padding-bottom: 10px
    img
      width: 20%
    +breakpoint(small only)
      padding-top: 60px
      img
        width: 50%
  .member_text
    position: relative
    .title
      font-size: 24px
      font-weight: bold
    .text_block
      font-size: 20px
      padding: 20px 0
      line-height: 1.5
    .button
      margin-top: 20px
      margin-bottom: 120px
      .inner-border
        border: 1px solid white
      +breakpoint(small only)
        margin-bottom: 100px
  .dark_brown_block
    position: relative
    height: 330px
    .border_block
      position: relative
      text-align: center
      left: 8px
      top: 8px
      width: 94%
      height: 95%
      .sub_title
        font-size: 24px
        font-weight: medium
        color: white
        text-transform: uppercase
        padding-top: 30px
      .title 
        font-size: 200px
        line-height: 0.9
        color: $lite-brown
      p
        font-size: 18px
        color: $dark-silver
        padding-bottom: 25px
    +breakpoint(small only)
      margin-bottom: 50px

      
      


