.pege_about_wrap
  .baner_gradient
    position: absolute
    width: 100%
    height: 33%
    z-index: 1
    opacity: 0.3
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
  .expeience_wrap
    padding-top: 100px
    .text_content
      position: relative
      .line
        background-color: $lite-brown
      .title
        font-size: 22px
        font-weight: bold
        span
          color: $orange-color
      +breakpoint(medium down)
        padding-bottom: 50px
    .text_box
      font-size: 18px
      padding-bottom: 40px
      line-height: 1.5
  .blockquote_wrap
    position: relative
    .blockquote_bgc
      position: absolute
      width: 100%
      height: 100%
      left: 0
      bottom: 0
      background-size: cover
      background-position: center
    .content_conteiner
      position: relative
      text-align: center
      .heder
        font-size: 44px
        width: 850px
        padding: 100px 0 300px
        margin: auto
        max-width: 90%
        span
          color: $orange-color
          +Neuton
        +Neuton
        &:before
          content: '\201C'
          display: block
          color: $lite-brown
          font-size: 270px
          line-height: 0.4
          +Neuton
      +breakpoint(small only)
        .heder
          font-size: 34px
          padding: 100px 0 150px
      +breakpoint(medium only)
        .heder
          padding: 100px 0 200px 
  .money_wrap
    position: relative
    padding-bottom: 150px
    margin-top: -80px
    // +clearfix
    .background-block
      // float: right
      // position: relative
      position: absolute
      top: 0
      right: 0
      width: 30%
      // height: 300px
      img
        max-width: 100%
        position: relative
        z-index: 5
    +breakpoint(medium down)
      padding-bottom: 70px
      .background-block
        display: none
    +breakpoint(small only)
      padding-bottom: 10px
    .main-text
      padding-top: 30px
      padding-bottom: 50px
      .title
        font-size: 40px
        color: $lite-brown
        text-transform: uppercase
        font-weight: bold
      .sub_title
        font-weight: bold
        font-size: 22px
        padding: 20px 0
      .text_box
        font-size: 18px
        padding-bottom: 20px
        line-height: 1.5
        span
          font-weight: bold
      .button
        .inner-border
          border: 1px solid white
      +breakpoint(medium down)
        .title
          padding-bottom: 50px
        .button
          margin-top: 50px
    +breakpoint(medium down)
      padding-bottom: 0
      .main-text
        padding-top: 0
        .title
          padding-bottom: 35px

