.default_baner
  background-color: $dark-brown
  height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
  .pager_office
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    .account
      display: inline-block
      text-align: center
      width: 33%
      cursor: pointer
      padding-bottom: 10px
      border-bottom: 2px solid transparent
      svg
        fill: $lite-brown
        transition: 0.5s
      .title
        font-size: 24px
        text-transform: uppercase
        font-weight: bold
        color: $lite-brown
        transition: 0.5s
      &:hover, &.active
        border-bottom: 2px solid $orange-color
        svg
          fill: $orange-color
        .title
          color: $orange-color

.office_wrap
  // display: none
  // &.active
  //   display: block

.fein_wrap
  padding: 50px 0
  text-align: center
  .title 
    font-size: 24px
    font-weight: bold
    padding-bottom: 20px
    color: $dark-brown
  .input-field
    display: inline-block
    input
      background-color: $lite-brown
      width: 380px

      &::-webkit-input-placeholder 
        color: $dark-brown
      &::-moz-placeholder
        color: $dark-brown
      &:-ms-input-placeholder 
        color: $dark-brown
      &:-moz-placeholder  
        color: $dark-brown
  .button
    margin-left: 20px
    +breakpoint(medium down)
      margin-left: 0
      margin-top: 20px
    .inner-border
      border: 1px solid white

.policy_types_wrap
  background: $dark-silver
  .fein_text 
    font-size: 16px
    color: $dark-brown
    font-weight: bold
    padding: 50px 0 20px
    span
      color: $orange-color
  .left_part
    .panel_info
      .head_title
        text-transform: uppercase
        color: $lite-brown
        font-size: 24px
        padding: 20px
        border-bottom: 1px solid 
        font-weight: bold
      .list_box
        ul
          counter-reset: list
          list-style: none
          .list
            padding: 25px 0 25px 70px
            counter-increment: list
            position: relative
            color: white
            border-bottom: 1px solid $lite-black
            cursor: pointer
            &:last-child
              border-bottom: none
            &:before
              content: counter(list)
              font-size: 20px
              display: inline-block
              width: 30px
              height: 30px
              text-align: center
              position: absolute
              left: 20px
              top: 20px
              color: $lite-brown
              border: 1px solid $lite-brown
              font-weight: bold
            .list_text
              p 
                display: inline
              .svg
                padding-right: 20px
                float: right
                svg
                  fill: $lite-brown
            &:hover
              background: $orange-color
              transition: 0.5s
              &:before
                color: white
                border: 1px solid white
              .list_text
                svg
                  fill: $dark-brown
  .panel_add_policy
    margin: 50px 0
    .title
      font-size: 18px
      font-weight: bold
      color: $dark-brown
    .sub_title
      font-size: 14px
      color: $dark-brown
      font-weight: 400
      padding-bottom: 10px
    .list_box
      ul
        list-style: none
      .list
        padding: 25px 25px 0
        color: $lite-brown
        cursor: pointer
        border: 1px dashed $lite-brown
        margin: 5px 0
        +clearfix
        &:hover
          color: $orange-color
          border: 1px solid $orange-color
          transition: 0.5s
      .right_part
        float: right
        // padding-right: 10px
        position: relative
        top: -20px
        transition: 0.5s
        
        .svg
          *
            fill: $lite-brown
          svg
            width: 11px
        .text
          color: $orange-color
          display: none
          font-size: 13px
          // display: inline
          padding-left: 5px
        
        &:hover
          transition: 0.5s
          .svg
            *
              fill: $orange-color
          .text
            display: inline
          

    // .button
    //   margin: 20px
  .right_part
    .title_box
      +clearfix
      .title
        font-size: 24px
        font-weight: bold
        padding-bottom: 20px
        text-transform: uppercase
        display: inline
      .download_block
        float: right
        border: 1px solid $lite-brown
        cursor: pointer
        .svg
          position: relative
          top: 8px
          margin-left: 7px
          width: 20px
          
        .text
          color: $orange-color
          font-size: 14px
          padding: 0 10px
          display: inline-block
          border-left: 1px solid $lite-brown
          line-height: 2.8
          
        &:hover
          background-color: $dark-brown
          border: 1px solid $orange-color
          transition: 0.5s
          .svg
            svg
              fill: $orange-color
          .text
            border-left: 1px solid $orange-color


    .policy_info
      padding: 10px 0
      border-bottom: 1px solid $lite-orange
      +clearfix
      .sub_title
        font-size: 18px
        font-weight: 600
        display: inline
        line-height: 2
      .info
        float: right
        font-size: 16px
        font-style: italic
        display: inline

    .list_pages
      padding-top: 20px
      .pages
        display: inline
        color: $orange-color
        // border-right: 1px solid $lite-brown
        font-size: 12px
        padding-right: 20px
        cursor: pointer
        &:after
          content: ""
          display: inline-block
          position: relative
          height: 20px
          width: 1px
          left: 7px
          top: 6px
          background-color: $lite-brown
        &:last-child
          &:after
            display: none
        &:hover
          color: $lite-brown
          transition: 0.5s

.down_bg_block
  text-align: center
  background-color: $lite-brown
  margin: 50px 0
  .title
    font-size: 21px
    font-weight: bold
    padding: 10px
    text-transform: uppercase
  .list_box
    ul
      list-style: none
      display: inline-flex
      .list
        font-weight: bold
        font-size: 16px
        padding: 0 10px
        padding-bottom: 20px
        span
          padding-left: 10px


    
.discounts_abdate_box
  background: $lite-orange
  margin: 10px 0 0
  .padding_box
    padding: 20px
  .title
    color: $dark-brown
    font-size: 24px
    padding-bottom: 20px

.default-animated-checkbox
.default_button
  border: none
  background: transparent
  font-size: 16px
  text-transform: uppercase
  color: $orange-color
  margin-top: 50px
  font-weight: 500
  cursor: pointer
  width: 88px
  &:hover
    background-color: transparent

[type="checkbox"]:not(:checked), [type="checkbox"]:checked 
  position: absolute
  left: -9999px

[type="checkbox"]:not(:checked) + label, [type="checkbox"]:checked + label 
  position: relative
  padding-left: 1.95em
  cursor: pointer


/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before, 
  content: ''
  position: absolute
  left: 0
  top: -3px
  width: 1.25em
  height: 1.25em
  border: 2px solid $lite-brown
  background: #fff
  border-radius: 4px
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1)
[type="checkbox"]:checked + label:before
  content: ''
  position: absolute
  left: 0
  top: -3px
  width: 1.25em
  height: 1.25em
  border: 2px solid $dark-brown
  background: $dark-brown
  border-radius: 4px
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1)

/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after, [type="checkbox"]:checked + label:after 
  content: '✔'
  position: absolute
  top: .1em
  left: .3em
  font-size: 1.3em
  line-height: 0.8
  color: $orange-color
  transition: all .2s

/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after 
  opacity: 0
  transform: scale(0)

[type="checkbox"]:checked + label:after 
  opacity: 1
  transform: scale(1)

[type="checkbox"]:disabled:not(:checked) + label:before, [type="checkbox"]:disabled:checked + label:before 
  box-shadow: none
  border-color: #bbb
  background-color: #ddd

.profile_wrap
  margin-bottom: 150px
  margin-top: 50px
  .avatar_box 
    position: relative
    text-align: center
    .img_box 
      width: 100%
      padding-top: 30px
      img
        border-radius: 50%
    .sub_title
      color: $lite-orange
      padding-top: 10px
      padding-bottom: 50px
      display: inline-block
      &:hover
        color: $lite-brown
        transition: 0.5s

  .payment_conteiner
    padding-top: 50px
    .title
      font-size: 18px
      font-weight: bold
      text-transform: uppercase
      padding-bottom: 20px
    .card
      border-bottom: 1px solid $lite-black
      border-top: 1px solid $lite-black
      position: relative
      &:last-child
        border-top: none
      svg
        width: 40px
      .nunber_card
        display: inline
        // vertical-align: top
        position: relative
        bottom: 15px
      .edit_icon
        position: absolute
        right: 0
        top: 10px
        cursor: pointer
        svg
          fill: $lite-brown
    .add_card
      color: $orange-color
      padding-top: 10px
      float: right
      &:hover
        font-weight: bold
        transition: 0.5s


  .user_info
    background: $lite-orange
    padding: 20px 200px 10px 200px
    position: relative 
    .input_conteiner
      padding-top: 50px
      &.padding_bottom
        padding-bottom: 50px 
      .input-field
        padding: 10px 0
        position: relative
    .titles_box
      position: absolute
      left: 20px
      top: 20px
      .title
        font-size: 18px
        font-weight: bold
        text-transform: uppercase
        padding-bottom: 47px
      .sub_title
        font-size: 14px
        font-weight: bold
        padding-bottom: 40px
    +breakpoint(medium only)
      padding: 20px 100px 10px 200px

  .sub_orange_title
    color: $orange-color
    font-size: 12px
    float: right
    padding-top: 10px
    position: relative
    z-index: 1
    &:hover
      font-weight: bold
      transition: 0.5s