.contacts_wraper
  .baner_gradient
    position: absolute
    width: 100%
    height: 33%
    z-index: 12
    opacity: 0.3
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    z-index: 10
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
.general-map-wrapper
  position: relative
  margin-bottom: -100px
  padding: 300px 0 100px
  +breakpoint(medium down)
    padding: 0
.map-wrapper
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  +breakpoint(medium down)
    position: relative
    height: 500px
  .info-window
    display: none
    width: 250px
    background: white
    top: 0
    position: absolute
    padding: 25px
    transform: translate(-50%, -50%)
    left: o
    z-index: 5
    &.opened
      display: block
    .marker-icon
      cursor: pointer
      img
        display: block
        width: 40px
        height: 40px
  #map-container
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0

  .info-window
    text-align: center
    font-size: 13px
    color: $lite-brown
    // .zrub
      position: absolute
      bottom: -25px
      left: 50%
      transform: translate(-50%,0)
      width: 30px
      height: 30px
      z-index: 5
      svg
        transform: translate(25%,0)
        *
          fill: white        
    .logo
      width: 100px
      margin: auto
      svg
        width: 100%
        height: 100%
    .address
      padding: 20px 0
      line-height: 1.3
    .number_box
      color: $dark-brown
      padding: 5px
      display: block
.contacts_form
  position: relative
  margin-bottom: 100px
  pointer-events: none
  .left_part
    background-color: $dark-brown
    pointer-events: initial  
    .text_conteiner
      position: relative
      color: white
      padding: 30px 30px 150px
      .title
        color: white
        text-transform: uppercase
        font-size: 24px
        font-weight: bold
        padding-bottom: 50px
      .line
        top: 105px
        left: 30px
        +breakpoint(large only)
          top: 135px
        +breakpoint(medium only)
          top: 85px
      .adders
        padding-bottom: 5px
        width: 80%
        line-height: 1.5
        color: $dark-silver
      .contats_info
        padding: 5px 0
        color: $lite-brown
        font-weight: bold
        font-size: 14px
        .number
          color: white
          padding-left: 10px
        .maill
          color: white
          padding-left: 5px

  .right_part
    background-color: $lite-orange
    pointer-events: initial  
    .form_conteiner
      padding: 30px 0 0 30px
      .title 
        font-size: 24px
        font-weight: bold
        text-transform: uppercase
    .forms-square
      padding: 30px
      .input-square
        padding-bottom: 10px
        #first_name-square
          margin-right: 10px
          +breakpoint(medium down)
            margin-bottom: 10px
        input
          width: 48%
          padding: 10px
          outline: none !important
          border: none !important
          &::-webkit-input-placeholder 
            color: $lite-brown
          
          &::-moz-placeholder
            color: $lite-brown
          
          &:-ms-input-placeholder 
            color: $lite-brown
          
          &:-moz-placeholder  
            color: $lite-brown
          +breakpoint(medium down)
            width: 99%
      .input-square-email
        padding-bottom: 10px
        input
          width: 99%
          padding: 10px
          outline: none !important
          border: none !important
          &::-webkit-input-placeholder 
            color: $lite-brown
          
          &::-moz-placeholder
            color: $lite-brown
          
          &:-ms-input-placeholder 
            color: $lite-brown
          
          &:-moz-placeholder  
            color: $lite-brown
      .input-square-testemonials
        padding-bottom: 20px
        input
          width: 99%
          padding: 10px 10px 100px
          outline: none !important
          border: none !important
          &::-webkit-input-placeholder 
            color: $lite-brown
          
          &::-moz-placeholder
            color: $lite-brown
          
          &:-ms-input-placeholder 
            color: $lite-brown
          
          &:-moz-placeholder  
            color: $lite-brown
      .button
        width: 120px
        .inner-border
          border: 1px solid $lite-orange
