.membership_wraper
  .baner_gradient
    position: absolute
    width: 100%
    height: 33%
    z-index: 1
    opacity: 0.3
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
  .exclusive_discounts_wrap
    padding-top: 100px
    .text_container
      position: relative
      +breakpoint(small only)
        padding-bottom: 50px
      .tilte
        font-size: 24px
        font-weight: bold
        padding-bottom: 20px
        +breakpoint(small only)
          font-size: 20px
      .text_block
        font-size: 16px
        padding-bottom: 30px
        line-height: 1.5
        span
          font-weight: bold
      .button
        margin-top: 30px
        .inner-border
          border: 1px solid white
        +breakpoint(small only)
          margin: 0
    .dark_brown_block
      position: relative
      height: 330px
      margin-bottom: 50px
      .border_block
        position: relative
        text-align: center
        left: 8px
        top: 8px
        width: 94%
        height: 95%
        .sub_title
          font-size: 24px
          font-weight: medium
          color: white
          text-transform: uppercase
          padding-top: 30px
        .title 
          font-size: 200px
          line-height: 0.9
          color: $lite-brown
        .qwote
          font-size: 18px
          color: $dark-silver
          padding-bottom: 25px
          .text_text
            color: $orange-color
  .discounts_wrap_two
    padding-top: 50px
    +clearfix
    .img_conteiner
      position: relative
      float: left
      width: 50%
      .border_block
        border: 1px solid
      +breakpoint(large only)
        margin-top: 30px
      +breakpoint(medium down)
        float: none
        width: 100%
        .border_block
          display: none
      img
        width: 100%
        position: relative
        z-index: 5
    .text_container
      position: relative
      float: left
      width: 50%
      background-color: $lite-brown
      margin-top: 50px
      .text_content
        padding: 40px 100px 60px 70px
        .line
          background-color: white
          top: 30px
          left: 70px
        .title
          font-weight: bold
          font-size: 22px
          padding: 20px 0
        .text_block
          color: white
          font-size: 18px
          line-height: 1.5
      +breakpoint(large only)
        margin-top: 0
        .text_content
          padding: 40px 50px 60px 70px
      +breakpoint(medium only)
        .text_content
          padding: 40px 30px 50px 30px
          .line
            left: 30px
      +breakpoint(medium down)
        width: 100%
        float: none
        margin-top: -10px
        .text_content
          padding: 10px
          .line
            left: 11px
          .title
            font-size: 18px
            padding: 50px 0 20px
          .text_block
            font-size: 16px
            line-height: 1.5
            padding-bottom: 30px
  .discounts_complite_form
    padding-top: 50px
    .text_container
      width: 800px
      max-width: 90%
      margin: auto
      text-align: center
      .title
        font-size: 48px
        font-weight: bold
        color: $lite-brown
        text-transform: uppercase
      .sub_title 
        font-size: 20px
        padding: 20px 0 50px
        span
          font-weight: bold
        +breakpoint(small only)
          padding: 20px 10px 50px