.pege_file_a_claim_wrap
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
  .default_baner
    height: 70vh
  .support_service_wrap
    text-align: center
    .text_content
      position: relative
      padding-top: 100px
      .line
        top: 70px
        left: 50%
        transform: translate(-50%,0)
      .title
        font-size: 24px
        font-weight: bold
        width: 800px
        margin: auto
        max-width: 90%
      .text_conteiner
        width: 800px
        margin: auto
        font-size: 20px
        padding: 20px 80px 90px
        color: $dark-brown
        max-width: 90%
        line-height: 1.5
      +breakpoint(small only)
        .text_conteiner
          padding: 30px 0
  .compaines_list_wrap
    position: relative
    color: white
    background-color: $lite-brown
    .heder
      font-size: 48px
      font-weight: bold
      text-align: center
      color: black
      text-transform: uppercase
      padding: 70px 0
      color: $dark-brown
    .dark_brown_block
      position: relative
      padding: 20px
      margin-bottom: 150px
      .img_box
        position: absolute
        left: -20px
        z-index: 10
        img 
          width: 150px
      .text_content
        padding-left: 130px
        position: relative
        .title 
          text-transform: uppercase
          font-size: 24px
          color: $lite-brown
          font-weight: bold
          padding-bottom: 15px
        .contacts_box
          padding-bottom: 50px
          text-transform: uppercase
          .title_contacts
            font-size: 14px
            letter-spacing: 1px
          .contacts
            position: relative
            padding: 20px 0 0 20px
            font-size: 14px
            text-transform: capitalize
            &:before
              content: ""
              width: 4px
              height: 4px
              border-radius: 50%
              position: absolute
              display: inline-block
              background-color: $lite-brown
              bottom: 5px
              left: 0
            &.brown
              color: $lite-brown
              text-transform: lowercase
              &:before
                bottom: 5px
            +breakpoint(large only)
              &:before
                bottom: 20px
            +breakpoint(small only)
              padding: 20px 0 0 15px
              &:before
                bottom: 20px
              &.brown
                top: 10px
        .customer_service
          font-size: 14px
          position: relative
          margin-bottom: 150px
          &:before
            content: ""
            width: 100%
            height: 1px
            background-color: $lite-black
            position: absolute
            top: -17px
          &.margin
            margin-bottom: 140px
          .sub_title
            text-transform: uppercase
            padding-top: 15px
          .login
            color: $lite-brown
            padding: 20px 0 
            padding-left: 20px
            +breakpoint(small only)
              padding-left: 0
            &:before
              content: ""
              width: 4px
              height: 4px
              border-radius: 50%
              position: relative
              margin-right: 5px
              display: inline-block
              background-color: $lite-brown
              bottom: 4px
          .phone
            padding-left: 20px
            a 
              font-weight: bold
              padding-left: 10px
              display: inline-block
              color: white
            .number
              padding: 10px 0 0 25px
          ul
            display: inline-flex
            margin: 20px 0
            .list
              color: $lite-brown
              margin-left: 35px
              a
                color: inherit
          +breakpoint(large only)
            &.margin
              margin-bottom: 124px
            .phone
              .number
                padding: 10px 0 0 106px
          +breakpoint (medium only)
            padding: 10px 0 0 20px
          +breakpoint(small only)
            margin-bottom: 50px
            .phone
              padding-left: 0
              .number
                padding-left: 106px
            ul
              display: block
              .list
                padding: 5px 0
                margin-left: 15px
    +breakpoint(small only)
      .heder
        font-size: 34px
      .dark_brown_block
        margin-bottom: 50px
        margin-top: 30px
        .img_box
          top: -50px
          left: 50%
          transform: translate(-50%,0)
        .text_content
          padding-top: 100px
          padding-left: 0
       
.see_also_wrap
  padding-bottom: 100px
  .heder
    text-align: center
    padding: 70px 0 50px
    .title
      font-size: 24px
      font-weight: bold
      padding-bottom: 15px
    .svg_box
      svg
        transform: rotate(90deg)
  .dark_brown_block
    position: static
    height: 150px
    margin-bottom: 25px
    cursor: pointer
    transition: 0.5s
    display: block
    .border_block
      position: relative
      width: 94%
      height: 88%
      top: 8px
      left: 8px
    .title
      color: $lite-brown
      font-weight: bold
      font-size: 20px
      padding: 20px
      text-transform: uppercase
    .hover_block
      display: inline-flex
      position: absolute
      left: 20px
      bottom: 10px
      opacity: 0
      .sub_title
        font-size: 12px
        font-style: italic
        color: $lite-brown
        span
          svg
            position: relative
            left: 5px
    &:hover
      .border_block
        border: 1px solid white
      .title
        color: white
      .hover_block
        opacity: 1
        .sub_title
          span
            svg
              transform: translate(50%,0)
              transition: 0.7s
