.input-field
  position: relative
  input, textarea, select
    display: block
    padding: 10px
    width: 100%
    border: none
    outline: none
    background-color: white
    &:focus
      outline: none

    &::-webkit-input-placeholder 
      color: $lite-brown
    &::-moz-placeholder
      color: $lite-brown
    &:-ms-input-placeholder 
      color: $lite-brown
    &:-moz-placeholder  
      color: $lite-brown

  input:focus, input.used
    background: $lite-brown
  input:focus ~ label, input.used ~ label, textarea:focus ~ label, textarea.used ~ label

  input:focus ~ .input-icon, input.used ~ .input-icon
    svg
      path, rect, polygon
        fill: $dark-brown
  option.display
    display: none
  .input-tip
    position: absolute
    width: 300px
    height: 85px
    background: $dark-brown
    left: 35%
    transform: translate(50%,0)
    bottom: -90px
    opacity: 0
    pointer-events: none
    transition: 1s
    padding: 15px
    z-index: 1
    &.dowm_input
      left: 58%
      transform: translate(58%,0)
      +breakpoint(medium only)
        right: 50%
        transform: translate(83%,0)
        left: 0
      +breakpoint(small only)
        right: 0
        left: 0
        transform: translate(0,0)
    &.calculator
      .svg_tringle
        left: 64%
        transform: translate(64%,0)
        top: -1px
        position: absolute
        +breakpoint(medium only)
          left: 91%
          transform: translate(91%,0)
    .svg_tringle
      svg
        width: 15px
        position: absolute
        top: -7px
        left: 15%
        transform: translate(-15%,0)
    svg
      width: 15px
      position: absolute
      top: -7px
      left: 6%
      transform: translate(-6%,0)
    .title_tip
      color: white
      text-transform: uppercase
      font-size: 14px
    .text_box 
      color: $lite-brown
      font-size: 12px
      line-height: 16px
      padding-top: 5px
      a
        color: $orange-color
    +breakpoint(medium only)
      right: -44%
      transform: translate(39%,0)
      left: 0
    +breakpoint(small only)
      left: -31px
      bottom: 0
      transform: translate(0,0)

  .input-icon
    position: absolute
    // right: 9px
    bottom: 7px
    width: 15px
    cursor: pointer
    &.inside
      right: 9px
    &.outside
      right: -30px
      +breakpoint(medium down)
        right: -17px
      +breakpoint(small only)
        display: none
    svg
      path, rect, polygon
        fill: $lite-brown
    &:hover ~ .input-tip
      opacity: 1
      pointer-events: initial
    &.dollar
      right: 6px
      svg
        width: 9px
        *
          fill: $lite-brown
  &.required
    .sub_title
      &:after
        content: "\2217"
        position: relative
        right: -3px
        top: -5px
        color: $orange-color
  &.hidden
    display: none

  .nice-select
    .option
      &:first-child
        display: none
        
.sub_sub_title
  font-size: 12px
  font-style: italic
  padding: 10px 0
  