.massages_wrap
  margin: 50px 0
  .left_part
    .head_panel
      background-color: $lite-brown
      .head_panel_content
        padding: 13px
        .title
          text-transform: uppercase
          font-size: 14px
          display: inline
          margin-left: 10px
          svg
            width: 30px
            position: relative
            top: 6px
        .button_compose
          background-color: $dark-brown
          margin-top: 9px
          float: right
          cursor: pointer
          transition: 0.5s
          .text_button
            text-transform: uppercase
            font-size: 12px
            line-height: 2
            color: white
            padding: 0 5px
            letter-spacing: 3px
            svg
              width: 10px
              *
                fill: white
          &:hover
            background-color: $orange-color
            .text_button
              color: $dark-brown
          
    
    .panel_content
      background: $dark-brown
      .list_box
        ul
          list-style: none
          .list
            padding: 20px 0
            border-bottom: 1px solid #404040
            position: relative
            cursor: pointer
            transition: 0.5s
            .img_box
              position: absolute
              top: 10px
              left: 20px
              svg
                width: 30px
                display: inline
                position: relative
                top: -10px
                background: $lite-brown
              img
                border-radius: 50%
                width: 50px
            &:hover
              background-color: $orange-color
              
              .img_box
                svg
                  background: white
              .text_box
                .title, .sub_title
                  color: $dark-brown
            .text_box
              padding-left: 120px
              display: inline-block
              
              .title
                font-size: 14px
                color: white
                font-weight: bold
              .sub_title
                color: $lite-brown
                font-size: 12px
              &:hover
                transition: 0.5s
               

            .date
              font-size: 12px
              color: $lite-orange
              float: right
              padding-right: 10px
              // padding-top: 13px



  .right_part
    background: $lite-orange
    .chat_content
      padding: 30px 30px 80px
      .head_box
        border-bottom: 1px solid $dark-brown
        .text_box
          display: inline-block
          width: 80%
          position: relative
          .title
            font-size: 16px
            padding-bottom: 20px
            font-weight: bold
          .sub_title
            font-size: 12px
            padding-bottom: 10px
            span
              font-weight: bold
          
        .oute_number_box
          float: right
          font-size: 12px
          position: relative
          cursor: pointer
          .svg
            position: absolute
            left: -30px
            top: 0px
            svg
              width: 30px
          .sub_title
            font-weight: bold
          &:hover ~ .hover_block
            opacity: 1
            pointer-events: initial
        .hover_block
          opacity: 0
          background-color: $lite-brown
          position: absolute
          width: 200px
          height: 50px
          right: 5%
          transform: translate(5%, 0)
          bottom: 30px
          opacity: 0
          pointer-events: none
          transition: 1s
          padding: 15px
          z-index: 1
          svg
            width: 15px
            position: absolute
            top: -7px
            left: 50%
            transform: translate(-50%, 0)
            transform: rotate(180deg)
            *
              fill: $lite-brown
          .text
            font-weight: bold

        
          

      .chat_box
        border-bottom: 1px solid $lite-brown
        position: relative
        padding: 20px
        &:last-child
          border-bottom: none
        .img_box 
          position: absolute
          top: 15px
          left: 0
          z-index: 1
          img
            border-radius: 50%
            width: 50px
        .number_massages
          background: $lite-brown
          color: $dark-brown
          text-transform: uppercase
          font-size: 12px
          font-weight: bold
          padding: 5px 10px
          position: absolute
          top: 0
          left: 50%
          transform: translate(-50%,0)
        .text_content
          margin-left: 40px
          display: inline-block
          // padding: 30px
          width: 80%
          .name
            font-size: 14px
            font-weight: bold
            padding-bottom: 10px
            span
              font-weight: 300
          .Attached_files
            position: relative
            background: $lite-brown
            margin-top: 10px
            display: inline-block
            margin-right: 10px
            width: 185px
            .svg_box
              position: absolute
              top: 10px
              left: 10px
              svg
                width: 30px
            .info_files
              padding: 5px 5px 5px 40px
              .title
                font-weight: bold

        .date 
          color: $orange-color
          float: right

        .input-field
          margin-left: 40px
          input
            padding: 10px 10px 150px

          input:focus, input.used
            background: white

        
.box_massages
  float: right
  padding: 30px 0
  .svg_box
    color: $lite-brown
    display: inline
    padding-right: 20px
    padding-top: 20px
    position: relative
    vertical-align: bottom
    cursor: pointer
    transition: 0.5s
    svg
      width: 35px
      position: absolute
      top: -12px
      left: 40%
      transform: translate(-40%,0)
    &:hover
      color: $orange-color
      svg
        *
          fill: $orange-color
  .button 
    width: 130px
    .inner-border
      border: 1px solid $lite-orange



.new_massages
  background: $lite-orange
  margin-top: 10px
  .massages_content
    padding: 30px 30px 80px 30px
    position: relative
    .head_title
      font-size: 24px
      border-bottom: 1px solid $dark-brown
      font-weight: bold
      line-height: 3
    .user_info
      padding: 20px 200px 10px 200px
      position: relative 
    .input_conteiner
      padding-top: 50px
      &.padding_bottom
        padding-bottom: 50px 
      .input-field
        padding: 10px 0
        position: relative
        &.message
          input
            padding: 10px 10px 150px
    .titles_box
      position: absolute
      left: 20px
      top: 90px
      .title
        font-size: 18px
        font-weight: bold
        text-transform: uppercase
        padding-bottom: 47px
      .sub_title
        font-size: 14px
        font-weight: bold
        padding-bottom: 40px
    +breakpoint(medium only)
      padding: 20px 100px 10px 200px





              

