.pege_membership_wrap
  .baner_gradient
    position: absolute
    width: 100%
    height: 33%
    z-index: 1
    opacity: 0.3
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
    .button
      width: 150px
.nevada_membership_wrap
  background-color: $lite-brown
  padding-top: 100px
  .text_container
    position: relative
    .line
      background-color: black
    .tilte
      font-size: 22px
      font-weight: bold
      padding-bottom: 20px
    .text_block
      color: white
      font-size: 18px
      line-height: 1.5
    .img_box
      margin: 30px 0
      border: 1px solid white
      display: inline-block
      +clearfix
      img 
        width: 150px
        float: left
        padding: 5px
        background-color: white
      span
        font-size: 16px
        padding: 22px 50px
        float: left
      +breakpoint(medium down)
        img 
          width: 130px
          padding: 7px
        span
          font-size: 13px
          padding: 21px 10px
      @media screen and (max-width: 320px)
        img
          width: 100px
        span
          font-size: 12px
          padding: 16px 12px
  .dark_brown_block
    position: relative
    height: 330px
    margin-bottom: 50px
    .border_block
      position: relative
      text-align: center
      left: 8px
      top: 8px
      width: 94%
      height: 95%
      .sub_title
        font-size: 24px
        font-weight: medium
        color: white
        text-transform: uppercase
        padding-top: 30px
      .title 
        font-size: 200px
        line-height: 0.9
        color: $lite-brown
      p
        font-size: 18px
        color: $dark-silver
        padding-bottom: 25px
.member_beefits_wraper
  padding-top: 50px
  .title
    font-size: 40px
    color: $lite-brown
    padding-bottom: 30px
    font-weight: bold
    text-transform: uppercase
  .button
    width: 150px
    .inner-border
      border: 1px solid white
    +breakpoint(small only)
      margin-bottom: 50px
  .benefits_ul
    list-style: none
    .list
      padding: 10px 0 
      font-weight: bold
      font-size: 20px
      position: relative
      padding-left: 20px
      &:before
        content: url(svg/list-bullet.svg)
        display: inline-block
        padding-right: 5px
        width: 12px
        position: absolute
        left: 0
    .inner_list
      padding-left: 20px
      font-weight: medium
      list-style: none
      padding: 20px 0 0 40px
      &:before
        content: ''
        width: 5px
        height: 5px
        background-color: $lite-brown
        border-radius: 50%
        display: inline-block
        position: relative
        right: 5px
        bottom: 3px
.premium_discounts_wraper
  position: relative
  .premium_discounts_bg
    position: absolute
    width: 100%
    height: 100%
    left: 0
    bottom: 0
    background-size: cover
    background-position: center
  .content_conteiner
    text-align: center
    position: relative
    .heder
      font-size: 44px
      width: 850px
      padding: 100px 0 100px
      margin: auto
      max-width: 90%
      +Neuton
      +breakpoint(small only)
        font-size: 34px
        padding: 100px 0
      span
        color: $orange-color
        +Neuton
      &:before
        content: '\201C'
        display: block
        color: $lite-brown
        font-size: 270px
        line-height: 0.4
        +Neuton
    +breakpoint(medium down)
      .heder
        padding: 100px 0
    .title
      font-size: 44px
      color: $lite-brown
      padding-bottom: 50px
      font-weight: bold
      text-transform: uppercase
    .sub_title
      width: 700px
      margin: auto
      padding-bottom: 50px
      line-height: 1.5
      max-width: 90%
      font-size: 20px
.discount-block
  margin-bottom: 100px