.baner_gradient
  position: absolute
  width: 100%
  height: 33%
  z-index: 1
  opacity: 0.3
  background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
.head_wrap_form
  padding: 50px 0
  .head_block
    position: relative
    max-width: 80%
    width: 660px
    +breakpoint(small only)
      width: 100%
    .line
      top: -20px
    .title
      font-size: 24px
      font-weight: bold
    .sub_title
      font-size: 18px
      padding: 10px 0
    .text_importaint
      font-size: 12px
      padding-left: 30px
      display: inline-block
      position: relative
      padding-top: 10px
      line-height: 1.5
      &:before
        content: ''
        background: asset-url("svg/attention.svg")
        width: 20px 
        height: 20px
        position: absolute
        left: 0
        top: 18px
        display: block
        background-repeat: no-repeat
.form
  width: 100%
  padding: 20px 30px 0 40px
  background: $lite-orange
  position: relative
  .form-step
    padding: 20px 0 20px 30px
    position: relative
    border-left: 1px solid $orange-color
    &:last-child
      border-left: none
  .head_title
    font-size: 24px
    font-weight: bold
    text-transform: uppercase
    padding-bottom: 30px
    padding-left: 20px
  .circle_box
    background-color: $lite-orange
    position: absolute
    left: 0
    // top: 15px
    height: 60px
    padding: 10px 0
    z-index: 20
    top: 0
    transform: translate(-50%,0)
    svg
      width: 40px
    .figures
      position: relative
      top: -35px
      left: 16px
      color: black
      font-size: 18px
        font-weight: bold
    .required_info
      font-size: 14px
      position: absolute
      right: 20px
      top: 30px
      &:before
        content: "\2217"
        position: relative
        right: 4px
        top: -5px
        color: $orange-color
      +breakpoint(small only)
        position: relative
        right: -20px
        top: 0

  .title
    font-size: 18px
    font-weight: bold
    text-transform: uppercase
    &.top
      padding-top: 30px
    // padding-bottom: 30px
  .sub_title
    font-size: 14px
    font-weight: bold
    padding-bottom: 10px
    padding-top: 10px
  .sub_text
    padding: 20px 0 5px
  .input-group
    padding: 0 0 0 20px
    
    position: relative
    &.border_none
      border-left: none
    .circle_box
      background-color: $lite-orange
      text-align: center
      position: absolute
      left: -20px
      top: 19px
      svg
        width: 40px
      .figures
        position: relative
        top: -35px
        left: 0
        color: black
        font-size: 18px
        font-weight: bold
  .button
    margin-top: 30px
    margin-bottom: 60px
    float: right
    .inner-border
      border: 1px solid white
  #address-square-request
    padding: 10px 0 90px 10px
  .input-field
    margin: 10px 0