.policy_service_wrap
  .baner_gradient
    position: absolute
    width: 100%
    height: 33%
    z-index: 1
    opacity: 0.3
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
  .policy_service_center_wrap
    text-align: center
    .text_content
      position: relative
      padding-top: 100px
      .line
        top: 70px
        left: 50%
        transform: translate(-50%,0)
      .title
        font-size: 24px
        font-weight: bold
      .text_conteiner
        width: 800px
        line-height: 1.5
        margin: auto
        font-size: 20px
        padding: 20px 80px 70px
        color: $dark-brown
        max-width: 90%
        +breakpoint(small only)
          padding: 20px 0 55px
  .services_wrap
    background-color: $dark-brown
    .text_conteiner
      padding-top: 30px
      .title
        font-size: 48px
        font-weight: bold
        padding: 50px 0 30px
        color: $lite-brown
        width: 250px
        margin: auto
        text-transform: uppercase
    .list_box
      ul
        counter-reset: list
        list-style: none
      .list
        padding: 45px 0
        counter-increment: list
        position: relative
        &:after
          content: ""
          width: 100%
          height: 1px
          background-color: $lite-black
          position: absolute
          bottom: -10px
          left: 0
        &:before
          content: counter(list)
          font-size: 40px
          display: inline-block
          width: 50px
          height: 50px
          text-align: center
          position: absolute
          left: -120px
          top: 40px
          color: $lite-brown
          border: 1px solid $lite-brown
          font-weight: bold
        &:last-child
          &:after
            display: none
        &.pading_bottom
          padding-bottom: 130px
        .sub_title
          font-size: 24px
          font-weight: bold
          color: $lite-brown
        .text_box
          font-size: 16px
          padding: 20px 0
          color: white
          line-height: 1.5
        .list_link
          color: $orange-color
          font-size: 16px
          cursor: pointer
          &:hover
            color: $lite-brown
            border-bottom: 1px solid $lite-brown
            transition: 0.5s
      +breakpoint(small only)
        .list
          &:before
            left: 0
            top: -10px
            position: relative
          .sub_title
            padding-top: 15px

  .see_also_wrap
    padding-bottom: 100px
    .heder
      text-align: center
      padding: 50px 0
      .title
        font-size: 24px
        font-weight: bold
        padding-bottom: 15px
      .svg_box
        svg
          transform: rotate(90deg)
    .dark_brown_block
      position: static
      height: 150px
      margin-bottom: 25px
      cursor: pointer
      transition: 0.5s
      .border_block
        position: relative
        width: 94%
        height: 88%
        top: 8px
        left: 8px
      .title
        color: $lite-brown
        font-weight: bold
        font-size: 20px
        padding: 20px
        text-transform: uppercase
      .hover_block
        display: inline-flex
        position: absolute
        left: 20px
        bottom: 10px
        opacity: 0
        .sub_title
          font-size: 12px
          font-style: italic
          color: $lite-brown
          span
            svg
              position: relative
              left: 5px
      &:hover
        .border_block
          border: 1px solid white
        .title
          color: white
        .hover_block
          opacity: 1
          .sub_title
            span
              svg
                transform: translate(50%,0)
                transition: 0.7s
