.privacy_policy_wraper
  .default_baner
    background-color: $dark-brown
    height: 70vh
    .baner_info
      svg
        width: 2%
        *  
          fill: #F0E8D6
      +breakpoint(medium only)
        svg
          width: 5%
      +breakpoint(small only)
        svg
          width: 8%
        .title
          font-size: 50px
  .privacy_statement_wrap
    padding: 100px 0 
    .title
      color: $lite-brown
      font-size: 44px
      font-weight: bold
      text-transform: uppercase
    .text_conteiner
      padding-top: 30px
      .sub_title
        font-weight: bold
        font-size: 22px
        padding: 10px 0
      .text_box
        font-size: 16px
        line-height: 1.5
    +breakpoint(small only)
      padding: 50px 0 10px
