
.default_baner
  background-color: $dark-brown
  height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
.panel
  position: relative
  padding: 30px
  background: $lite-orange
  .head_title
    text-transform: uppercase
    font-size: 24px
    font-weight: bold
  .title
    font-size: 18px
    font-weight: bold
    padding: 20px 0
    text-transform: uppercase
  .sub_title
    font-size: 16px
    font-weight: bold
    padding-bottom: 10px
  &.dark
    background: $dark-brown
    .panel_calculate
      border-bottom: 1px solid #414141
      padding-top: 25px
      &.no_pading_top
        padding-top: 0
      &:last-child
        border: none
      .title
        padding: 0 0 10px 0
        font-size: 24px
        line-height: 1
      .sub_title
        font-weight: 600
    .head_title, .title, .sub_title
      color: $lite-brown
      text-transform: uppercase
    .figures
      color: white
      font-weight: 500
      font-size: 50px
      padding-bottom: 15px
      &:before
        content: "$"
        display: inline
        font-size: 42px
        padding-right: 10px
        font-weight: 300

.calculate_savings
  padding-top: 50px
  .dashed
    width: 100%
    height: 1px
    border-bottom: 1px dashed $orange-color
    margin-top: 30px
  .calculator_content
    max-width: 500px


.nevada_partners
  background-color: $lite-orange
  margin-top: 30px
  .pading_partners
    padding: 20px 40px 40px 20px
    .head_title
      font-size: 24px
      font-weight: bold
      padding-bottom: 10px
    .partners_name_block
      position: relative
      +clearfix
      border-bottom: 1px dashed $orange-color
      padding: 20px 0
      &:last-child
        border-bottom: none
    .block
      width: 111px
      height: 10px
      position: absolute
      z-index: 100
      top: -6px
      background: $lite-orange
      +breakpoint(small only)
        width: 100%
    .img_box 
      display: inline
      +breakpoint(small only)
        display: block
    .text_box
      display: inline-block
      padding-left: 20px
      vertical-align: top
      &.no_padding
        padding-left: 0
      .title
        display: block
        color: inherit
        font-size: 18px
        font-weight: bold
        +breakpoint(medium only)
          width: 70%
      .sub_title
        font-size: 14px
        color: $orange-color
        padding-top: 4px
        &.head
          font-size: 16px
          font-weight: bold
          // padding: 20px 0
      .link
        color: $orange-color
        padding-right: 5px
        font-size: 14px
        &:after
          content: "|"
          display: inline
          color: $lite-brown
          padding-left: 5px
        &:last-child
          &:after
            display: none

      &.no_padding_right
        padding-left: 0
      &.bigest_padding
        padding-left: 113px
      +breakpoint(small only)
        padding-left: 0
        &.bigest_padding
          padding-left: 0
        .title
          padding: 5px 0
          width: 170px  
        .sub_title
          padding: 5px 0
          width: 170px
          line-height: 1.5
          &.head
            padding: 0
    .price
      font-size: 24px
      font-weight: 500
      padding: 20px 0
      position: absolute
      right: 0
      top: 50%
      transform: translate(0,-50%)
      width: 120px
      z-index: 11
      &:hover
        z-index: 12
      svg
        width: 15px
        margin-left: 10px
        cursor: pointer
        position: absolute
        right: 15px
        top: 50%
        transform: translate(0,-50%)
        *
          fill: $lite-brown
        &:hover
          *
            fill: $orange-color
          ~ .input-tip
            opacity: 1
      &.padding
        padding-right: 30px
      &.head
        padding-right: 30px
        font-weight: bold
        color: $orange-color
        font-size: 16px
      +breakpoint(small only)
        padding: 0
        font-size: 18px
        right: -25px

      .text
        display: block
        font-size: 12px
        position: relative
        right: 0
    .input-tip
      position: absolute
      width: 300px
      height: 85px
      background: $dark-brown
      right: 0
      transform: translate(50%,0)
      bottom: -70px
      opacity: 0
      pointer-events: none
      transition: 1s
      padding: 15px
      z-index: 1
      .svg_tringle
        svg
          width: 15px
          position: absolute
          top: -7px
          left: 39%
          transform: translate(-39%,0)
          *
            fill: $dark-brown
      .text-tip
        color: $lite-brown
        font-size: 12px
        line-height: 16px
        padding-top: 5px

.email_total_info
  text-align: center
  background: $orange-color
  margin-top: 20px
  .email_pading
    padding: 30px 30px 45px
  .title
    font-size: 24px
    font-weight: bold
  .sub_title
    color: $lite-orange
    font-size: 16px
    padding: 10px 0 40px
    line-height: 1.5
  .input-field
    input:focus, input.used
      background: $lite-orange
  .arrow
    padding: 9px
    position: absolute
    top: 0
    right: 0
    background-color: $dark-brown
    width: 40px
    height: 36px
    cursor: pointer
    svg
      width: 20px
      position: relative
      left: 2px
.bx_slider_box
  text-align: center
  margin-top: 60px
  .bx-wrapper
    box-shadow: none
    webkit-box-shadow: none
    .bx-pager-item
      padding: 0 5px
      .bx-pager-link
        background-color: #BCBCBC
        width: 6px
        height: 6px
        &.active
          background-color: $orange-color
        &:hover
          background-color: $orange-color
  .title
    font-weight: bold
    font-size: 24px
  .sub_title
    font-size: 16px
    padding-bottom: 15px
  .textemonials
    text-align: center
    border-top: 1px solid $lite-orange
    border-bottom: 1px solid $lite-orange
    .heder
      font-size: 18px
      +Neuton
      &:before
        content: '\201C'
        display: block
        color: $lite-brown
        font-size: 127px
        line-height: 0.7
        position: relative
        top: 15px
    .text
      font-size: 12px
      color: $orange-color
      padding: 10px 0 40px
