.states_eligible_wraper
  .baner_gradient
    position: absolute
    width: 100%
    height: 33%
    z-index: 12
    opacity: 0.3
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%) /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ) /* IE6-9 */
  .default_baner
    z-index: 10
    height: 70vh
  .baner_info
    svg
      width: 2%
      *  
        fill: #F0E8D6
    +breakpoint(medium only)
      svg
        width: 5%
    +breakpoint(small only)
      svg
        width: 8%
      .title
        font-size: 50px
  .states_text_box
    .text_content
      position: relative
      padding-top: 50px
      .line
        top: 25px
      .title
        font-size: 24px
        font-weight: bold
      .button
        margin-top: 50px
        .inner-border
          border: 1px solid white
        +breakpoint(small only)
          margin-top: 20px
    .list_of_states_box
      background-color: $lite-brown
      position: relative
      text-align: center
      .inner-border-block
        position: absolute
        top: -3px
        bottom: 3px
        left: 3px
        right: 3px
        border: 1px solid white
      .sub_title
        padding-top: 40px
        font-size: 18px
        +Neuton
      .text_box
        color: white
        white-space: pre-wrap
        padding: 20px 50px 45px
        font-size: 14px
        line-height: 2
      +breakpoint(small only)
        margin-top: 50px
        .inner-border-block
          top: 3px
  .states_map_wrap
    .svg_box
      padding: 150px 0
      text-align: center
      svg
        width: 80%
      +breakpoint(small only)
        padding: 50px 0
        svg
          width: 100%