- form_resource = :user
- i18n_resource_scope = :apply_for_discount
.popup

  form#apply-for-discount-form method="post" action="/sign-up"
    .popup-step

      .head_title main information

      .circle_box
        = inline_svg "svg/circle-v1.svg"
        .figures 1
      .required_info required fields

      .row.input-group

        .xxlarge-5.medium-4.columns
          /.input-field.required
            .sub_title Email
            input#email-square name="email" placeholder="EMAIL"
          = input(form_resource, :email, required: true, i18n_resource_scope: i18n_resource_scope)

        .xxlarge-3.medium-4.columns
          = input(form_resource, :password, required: true, type: :password, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.medium-4.columns.end
          = input(form_resource, :password_confirmation, required: true, type: :password, i18n_resource_scope: i18n_resource_scope)

        .columns
          .dashed


      .row.input-group
        .xxlarge-5.xlarge-4.medium-12.columns
          = input(form_resource, :company_name, required: true, i18n_resource_scope: i18n_resource_scope)

        .xxlarge-3.xlarge-4.medium-12.columns
          = input(form_resource, :dba, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-4.medium-12.columns.end
          = input(form_resource, :company_website, i18n_resource_scope: i18n_resource_scope)
      .row.input-group
        .xxlarge-5.xlarge-4.medium-12.columns
          = input(form_resource, :first_name, required: true, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-5.xlarge-4.medium-12.columns
          = input(form_resource, :last_name, required: true, i18n_resource_scope: i18n_resource_scope)

        .xxlarge-3.xlarge-4.medium-4.columns
          = input(form_resource, :phone, required: true, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-4.medium-4.columns
          = input(form_resource, :fax, required: true, i18n_resource_scope: i18n_resource_scope)

        .columns
          .dashed
      .block_restorant_adress
        .row.input-group
          .columns
            .title restaurant address

        .row.input-group
          .xxlarge-4.xlarge-4.medium-4.columns
            .input-field.required
              .sub_title Street address
              input#email-square name="email" placeholder="ENTER ADDRESS"
          .xxlarge-4.medium-4.columns.end
            a.drop_bown.add_new_address
              = inline_svg "svg/add-v1(1).svg"
              span
                |add adress
            a.drop_bown.remove_address
              = inline_svg "svg/minus.svg"
              span
                |remove adress

        .row.input-group
          .xxlarge-4.medium-4.columns
            = input(form_resource, :city, i18n_resource_scope: i18n_resource_scope)
          .xxlarge-3.medium-4.columns
            = input(form_resource, :state, i18n_resource_scope: i18n_resource_scope)
          .xxlarge-3.medium-4.columns.end
            = input(form_resource, :zip_code, i18n_resource_scope: i18n_resource_scope)

          / .columns
          /   .dashed
        .block_additional_restorant_adress
          .row.input-group
            .columns
              .title.top restaurant address #2

          .row.input-group
            .xxlarge-4.medium-4.columns
              .input-field.required
                .sub_title Street address
                input#email-square name="email" placeholder="ENTER ADDRESS"
            .xxlarge-4.medium-4.columns.end
              a.drop_bown.add_new_address
                = inline_svg "svg/add-v1(1).svg"
                span
                  |add adress
              a.drop_bown.remove_address
                = inline_svg "svg/minus.svg"
                span
                  |remove adress


          .row.input-group
            .xxlarge-4.medium-4.columns
              .input-field
                .sub_title Sity
                input#email-square name="email" placeholder="ENTER CITY"
            .xxlarge-3.medium-3.columns
              .input-field
                .sub_title State
                input#email-square name="email" placeholder="STATE IS NOT SELECTED"
            .xxlarge-3.medium-3.columns.end
              .input-field
                .sub_title Zip Code
                .forms-square
                input#email-square name="email" placeholder="ENTER ZIP CODE"

            / .columns
            /   .dashed


      / .row.input-group

      /   .columns
      /     .title.top fin

      / .row.input-group
      /   .xxlarge-3.xlarge-4.medium-6.columns
      /     = input(form_resource, :fein, required: true)
      /   .xxlarge-3.xlarge-3.medium-6.columns.end
      /     = input(form_resource, :company_ages, required: true)


    .popup-step

      .circle_box
        = inline_svg "svg/circle-v1.svg"
        .figures 2

      .row.input-group
        .columns
          .title business information

      .row.input-group
        .xxlarge-3.xlarge-3.medium-6.columns
           = input(form_resource, :fein, required: true, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-3.medium-6.columns
          = input(form_resource, :company_ages, required: true, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-3.medium-6.columns
          = input(form_resource, :full_time_employees, required: true, i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-3.medium-6.columns
          = input(form_resource, :part_time_employees, required: true, i18n_resource_scope: i18n_resource_scope)
        /.xxlarge-3.xlarge-3.medium-6.columns.end
          .input-field.required
            .sub_title.general Total Number of Shifts
            input#email-square name="email" placeholder="ENTER A NUMBER"

        .columns
          .dashed

      .row.input-group.border_none

        .columns
          .title.top Payroll ($)

      .row.input-group.border_none
        .xxlarge-3.xlarge-3.medium-6.columns
          = input(form_resource, :payroll_total_annual_restaurant, icon: "svg/rid-dollar.svg", icon_class: "dollar", i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-3.medium-6.columns
          = input(form_resource, :payroll_total_annual_clerical, icon: "svg/rid-dollar.svg", icon_class: "dollar", i18n_resource_scope: i18n_resource_scope)

        .xxlarge-4.xlarge-4.medium-12.columns.end
          = input(form_resource, :payroll_total_annual_sales, icon: "svg/rid-dollar.svg", icon_class: "dollar", i18n_resource_scope: i18n_resource_scope)

      .row.input-group.border_none
        .xxlarge-3.xlarge-3.medium-4.columns
          = input(form_resource, :payroll_total_annual_valet, icon: "svg/rid-dollar.svg", icon_class: "dollar", i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-3.medium-4.columns
          = input(form_resource, :payroll_total_annual_other, icon: "svg/rid-dollar.svg", icon_class: "dollar", i18n_resource_scope: i18n_resource_scope)
        .xxlarge-3.xlarge-3.medium-4.columns.end
          /.input-field.required
            .sub_title Total Annual Owners
            input#confirm-password-square name="tel" placeholder="ENTER A NUMBER"
            .input-icon.dollar = inline_svg "svg/rid-dollar.svg"
          /.sub_sub_title if covered for workers compensation

      .row.input-group.border_none
        .xxlarge-3.xlarge-3.medium-4.columns
          = input(form_resource, :payroll_total_annual_owners, icon: "svg/rid-dollar.svg", icon_class: "dollar")
        .xxlarge-3.xlarge-3.medium-4.columns
          .radio_container
            .sub_title.no_capitalize Covered for workers compensation?
            div
              ul
                li
                  input#i-option type="radio" name="selector"
                  label for="i-option" Yes
              
                  div class="check"
                li
                  input#u-option type="radio" name="selector"
                  label for="u-option" No
                  .check
        .xxlarge-3.xlarge-3.medium-4.columns.end
          .input-field.optional_block.hidden
            .sub_title How many?
            input#email-square name="email" placeholder="HAVE MANY"

    .popup-step

      .circle_box
        = inline_svg "svg/circle-v1.svg"
        .figures 3

      .row.input-group.border_none
        .columns
          .title free membership
          .sub_title Apply for FREE MEMBERSHIP in Nevada Restaurant Association (NvRA) and National Restaurant Association?
          .radio_container
            .sub_title Are you currently an NvRA member?
            div
              ul
                li
                  input#f-option type="radio" name="selector"
                  label for="f-option" Yes
              
                  div class="check"
                li
                  input#s-option type="radio" name="selector"
                  label for="s-option" No
                  .check
          .radio_container.second.hidden
            .sub_title Would you like to receive 6 months or more FREE MEMBERHSIP?
            div
              ul
                li
                  input#a-option type="radio" name="selector"
                  label for="a-option" Yes
              
                  div class="check"
                li
                  input#r-option type="radio" name="selector"
                  label for="r-option" No
                  .check 
      .row.input-group.border_none
        .xxlarge-5.medium-6.columns
          .input-field.required
            .sub_title Membership Type
            select
              option data-value="" Type is not selected
              - User.available_membership_types.each do |type, name|
                option value=type
                  = name

      .row.input-group.border_none
        .columns
          button.button type="submit"
            .inner-border
            .button-text apply





