.large-6.columns
  .dark_brown_block
    .inner-border
    .img_box
      img src=company.image.url
    .text_content
      .title
        = company.name
      .contacts_box
        |Contacts:
        .contacts
          = company.address
        a.contacts.brown href=company.company_site
          = company.company_site
      .customer_service.margin
        .sub_title Customer Service & Claims Information:
        - if company.links.present?
          ul
            - company.links.each do |link_name, link_url|
              li.list
                a href=link_url
                  = link_name
        - company.phones.each do |phone_name, phone|
          .phone
            = phone_name + ":"
            a href=phone_url(phone)
              = phone
