.footer
  .row
    .small-12.columns
      .bgc_brown
        ul.footer_nav
          li
            a.footer_link href=about_path title="About" about
          li
            a.footer_link href=discounts_path title="Discounts" discounts
          li
            a.footer_link href=membership_path title="Membership" membership
          li
            a.footer_link href=policy_service_center_path title="Policy Service" policy service
          li
            a.footer_link href=contacts_path check contacts
        .adress
          = t("components.footer.address")
        .dot_small &#183;
        .contacts 
          - phone = t("components.footer.phone")
          - email = t("components.footer.email")
          a.number href=phone_url(phone)
            = phone
          .dot &#183;
          a.email href=email_url(email)
            = email
  .row
    .small-12.columns
      .bgc_lite_brown
        .left_part
          = raw t("components.footer.copyright")
        .right_part
          ul.nav
            li
              a.link href=states_eligible_path title="State eligible" State eligible
            li
              a.link href=privacy_policy_path title="Privacy policy" Privacy policy
            li
              a.link href=membership_path Membership
            li
              a.link href="/" Apply for Discount
            li
              a.link.border_none href=savings_calculator_path Online Savings Calculator
   
   
