.header
  / href=index_path
  a.logo href=root_path title="Home page"
    .inner-border-block
    .svg = inline_svg "svg/logo.svg"

  ul.topnav
    li.list
      a.top-nav-link href=about_path title="About" about 
    li.list
      a.top-nav-link href=discounts_path title="Discounts" discounts
    li.list
      a.top-nav-link href=membership_path title="Membership" membership
    li.list.drop_down_bgc
      a.top-nav-link.hover href="/"policy service
      span
        = inline_svg "svg/rid-triangle-v1.svg"
      ul.drop_down_conteiner
        li.drop_down_list
          a.drop_down href=policy_service_center_path title="Policy Service Center" Policy Service Center
        li.drop_down_list
          a.drop_down href=file_a_claim_path title="File A Claim" File A Claim
        li.drop_down_list
          a.drop_down href=online_billing_path title="Online Billing & Payments"
            |Online 
            br
            |Billing & Payments
        li.drop_down_list
          a.drop_down href=policy_change_request_path Policy Change Request 
    li.list
      a.top-nav-link href=contacts_path title="Contacts" contacts

    - if current_user
      li.list.drop_down_bgc.office
        a.top-nav-link.hover href="/" Tomas
        span
          = inline_svg "svg/rid-triangle-v1.svg"
        ul.drop_down_conteiner
          - header_menu_links.each do |item|
            li.drop_down_list.room class=("active" if item[:active])
              a.drop_down href=item[:url] 
                = item[:name]
          li.drop_down_list.room
            a.drop_down href="/" log out

    - else
      li.list
        .button
          .inner-border
          .button-text login
  .menu-button  
    .menu-button-lines

