.bg_cover
.baner_burger_menu
  .close-m-menu
    = inline_svg "2-01.svg"
  ul.menu
    li.baner_link
      a href=about_path about
    li.baner_link
      a href=discounts_path discounts
    li.baner_link
      a href=membership_path membership
    li.baner_link
      a href=policy_service_center_path policy service
      span
        = inline_svg "svg/rid-triangle-v1.svg"
      ul.drop_down_conteiner
        li.drop_down_list
          a.drop_down href=policy_service_center_path Policy Service Center
        li.drop_down_list
          a.drop_down href=file_a_claim_path File A Claim
        li.drop_down_list
          a.drop_down href=online_billing_path Online Billing & Payments
        li.drop_down_list
          a.drop_down href=policy_change_request_path Policy Change Request
    li.baner_link
      a href=contacts_path contacts
    li.baner_link
      .button
        .inner-border
        .button-text apply for discount