form.form action=policy_change_request_path method="post"

  .form-step

    .head_title general information

    .circle_box
      = inline_svg "svg/circle-v1.svg"
      .figures 1

    .row.input-group
      .columns
        .sub_title Full Name:*

        .row
          .medium-6.columns
            = input(:policy_change_request, :first_name, required: true, label: false)

          .medium-6.columns
            = input(:policy_change_request, :last_name, required: true, label: false)

    .row.input-group
      .columns
        .sub_title Address:*

        .row
          .medium-6.columns
            = input(:policy_change_request, :street_address, label: false)

          .medium-6.columns
            = input(:policy_change_request, :city, label: false)

    .row.input-group
      .medium-6.columns
        = input(:policy_change_request, :zip_code, label: false)

      .medium-6.columns
        = input(:policy_change_request, :state, label: false)

    .row.input-group
      .medium-6.columns
        = input(:policy_change_request, :phone, required: true)
      .medium-6.columns
        = input(:policy_change_request, :email, required: true)
  .form-step

    .head_title current inshurance information
    .circle_box
      = inline_svg "svg/circle-v1.svg"
      .figures 2

    .row.input-group

      .xxlarge-6.medium-6.columns
        = input(:policy_change_request, :company_name)

      .xxlarge-6.medium-6.columns
        = input(:policy_change_request, :policy_number)

    .row.input-group
      .medium-6.columns
        .sub_title Policy Explration Date:
        /.row
          .medium-3.columns
            .input-field
              input#address-square name="email" placeholder="MM"
          .medium-3.columns
            .input-field
              input#address-square name="email" placeholder="DD"
          .medium-3.columns.end
            .input-field
              input#address-square name="email" placeholder="YYYY"

        = input(:policy_change_request, :policy_expiration_date, label: false)

      .medium-6.columns
        .sub_title Date You Want Change To Take Effect:
        /.row
          .medium-3.columns
            .input-field
              input#address-square name="email" placeholder="MM"
          .medium-3.columns
            .input-field
              input#address-square name="email" placeholder="DD"
          .medium-3.columns.end
            .input-field
              input#address-square name="email" placeholder="YYYY"
        = input(:policy_change_request, :changes_effect_date, label: false)
    .row.input-group
      .columns
        = input(:policy_change_request, :changes_description, type: :text)
        button.button type="submit"
          .inner-border
          .button-text submit change request