#popup_apply.reveal.large data-reveal=""
  / button class="close-button" data-close="" aria-label="Close modal" type="button" close
  .popup-wrap
    .close_popap_box.close-button data-close=""
      = inline_svg "svg/v1(3).svg"
    .content_box
      .heder Apply for insurance discount
      .sub_title Including FREE RESTAURANT ASSOCIATION MEMBERSHIP 
      .sub_title Complete this form to qualify for your Discounts

    .row  
      .columns

        .accounts_member_box
          a.text_box href="" My account >
          a.text_box.padding_bottom href="" Get password >

        = render "apply_for_discount_form"