doctype html
html lang="en"
  head
    meta charset="utf-8"
    = seo_tags
    meta name="viewport" content="width=device-width, initial-scale=1.0"

    = stylesheet_link_tag "application"

    

  body
    = render "header"
    = render "m_menu"
    
    main.main-content-wrapper
      == yield
    = render "footer"
    script src="//maps.googleapis.com/maps/api/js?key=AIzaSyC4-aRBPrIHL24LYFqCOB8pir_7zFC4XW4"


    = javascript_include_tag "application"
    =render "popup_wrapper"